.turbo/
.strategy/
lefthook-local.yml

*.bun-build
bun.lockb

dist/
docs/.mintlify/
node_modules/


# prepack/postpack backup (safety net if postpack is interrupted)
.package.json.bak

# used for testing and whatnot
tmp/

