# Generated by: bun run codegen:registry
# Source: http://127.0.0.1:60227/v0/openapi.yaml
# Generated-At: 2026-10-08T03:21:21.658Z
# Do not edit by hand. Run `bun run codegen:registry` from packages/engine to refresh.
openapi: 3.1.0
info:
  title: Agent Facets Registry API (V0)
  description: Auto-generated from describeRoute() annotations on each route
    handler. The route definitions are the single source of truth.
  version: 0.1.0
servers:
  - url: https://api.agentfacets.io
    description: Production
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or fct_pub_* PAT
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          const: ok
        version:
          type: string
      required:
        - status
        - version
    AssetCounts:
      type: object
      properties:
        agents:
          type: number
        commands:
          type: number
        servers:
          type: number
        skills:
          type: number
      required:
        - agents
        - commands
        - servers
        - skills
    FacetSummary:
      type: object
      properties:
        asset_counts:
          $ref: "#/components/schemas/AssetCounts"
        latest_version:
          type: string
        name:
          type: string
        owner:
          anyOf:
            - type: object
              properties:
                kind:
                  const: org
                slug:
                  type: string
              required:
                - kind
                - slug
            - type: object
              properties:
                kind:
                  const: user
                username:
                  type: string
              required:
                - kind
                - username
        published_at:
          type: string
        publisher:
          type: string
        visibility:
          enum:
            - private
            - public
        author:
          type: string
        description:
          type: string
      required:
        - asset_counts
        - latest_version
        - name
        - owner
        - published_at
        - publisher
        - visibility
    SearchResponse:
      type: object
      properties:
        facets:
          type: array
          items:
            $ref: "#/components/schemas/FacetSummary"
        next_cursor:
          type: string
      required:
        - facets
    BatchMetadataInput:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
          maxLength: 256
          minLength: 1
      required:
        - name
        - version
      additionalProperties: false
    BatchMetadataRequest:
      type: object
      properties:
        items:
          type: array
          maxItems: 100
          minItems: 1
          items:
            $ref: "#/components/schemas/BatchMetadataInput"
      required:
        - items
      additionalProperties: false
    BatchMetadataResolved:
      type: object
      properties:
        content_hash:
          type: string
        content_integrity:
          type: string
        kind:
          const: resolved
        version:
          type: string
      required:
        - content_hash
        - content_integrity
        - kind
        - version
      additionalProperties: false
    BatchMetadataUnresolved:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              const: E_FACET_NOT_FOUND
            docs_url:
              type: string
            error:
              type: string
            fix:
              type: string
          required:
            - code
            - docs_url
            - error
            - fix
        kind:
          const: unresolved
        status:
          const: 404
      required:
        - error
        - kind
        - status
      additionalProperties: false
    BatchMetadataInvalidName:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              const: E_INVALID_NAME
            docs_url:
              type: string
            error:
              type: string
            fix:
              type: string
          required:
            - code
            - docs_url
            - error
            - fix
        kind:
          const: invalid_name
        status:
          const: 422
      required:
        - error
        - kind
        - status
      additionalProperties: false
    BatchMetadataInvalidVersionSpec:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              const: E_INVALID_VERSION_SPEC
            docs_url:
              type: string
            error:
              type: string
            fix:
              type: string
          required:
            - code
            - docs_url
            - error
            - fix
        kind:
          const: invalid_version_spec
        status:
          const: 422
      required:
        - error
        - kind
        - status
      additionalProperties: false
    BatchMetadataOutcome:
      anyOf:
        - $ref: "#/components/schemas/BatchMetadataResolved"
        - $ref: "#/components/schemas/BatchMetadataUnresolved"
        - $ref: "#/components/schemas/BatchMetadataInvalidName"
        - $ref: "#/components/schemas/BatchMetadataInvalidVersionSpec"
    BatchMetadataResult:
      type: object
      properties:
        name:
          type: string
        outcome:
          $ref: "#/components/schemas/BatchMetadataOutcome"
        requested_version:
          type: string
      required:
        - name
        - outcome
        - requested_version
    BatchMetadataResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/BatchMetadataResult"
      required:
        - results
    ApiErrorBody:
      type: object
      properties:
        code:
          enum:
            - E_ACCOUNT_SUSPENDED
            - E_ADMIN_REQUIRED
            - E_ALREADY_MEMBER
            - E_ALREADY_ONBOARDED
            - E_API_KEY_MISSING
            - E_ARCHIVE_DECOMPRESSED_TOO_LARGE
            - E_ARCHIVE_MALFORMED
            - E_ARCHIVE_METADATA_TOO_LARGE
            - E_AUTH_PROVIDER_DISABLED
            - E_BATCH_TOO_LARGE
            - E_CLAIM_ALREADY_PENDING
            - E_CLAIM_PENDING_ELSEWHERE
            - E_CONTENT_INTEGRITY_MISMATCH
            - E_CONTROL_CONCURRENT_MODIFICATION
            - E_CONTROL_INVALID_TARGET
            - E_CONTROL_INVALID_VALUE
            - E_CONTROL_MANAGEMENT_IMMUTABLE
            - E_CONTROL_NOT_FOUND
            - E_CONTROL_RULE_NOT_FOUND
            - E_DRY_RUN_REQUIRED
            - E_FACET_NOT_FOUND
            - E_FACET_NOT_OWNED
            - E_FORBIDDEN
            - E_GLOBAL_FACET_MUST_BE_PUBLIC
            - E_IDENTITY_CONFLICT
            - E_IMPERSONATION_FORBIDDEN
            - E_INTAKE_INVALID
            - E_INTAKE_NOT_FOUND
            - E_INTAKE_REVIEW_ALREADY_RECORDED
            - E_INTAKE_REVIEW_NOT_RECORDED
            - E_INTERACTIVE_SESSION_REQUIRED
            - E_INTERNAL
            - E_INVALID_BATCH_REQUEST
            - E_INVALID_CURSOR
            - E_INVALID_NAME
            - E_INVALID_VERSION
            - E_INVALID_VERSION_SPEC
            - E_INVITATION_NOT_FOUND
            - E_LOGOUT_REQUIRES_JWT
            - E_MANIFEST_CONTENT_MISMATCH
            - E_MEMBER_NOT_FOUND
            - E_MIGRATION_ALREADY_COMPLETED
            - E_MIGRATION_BATCH_NOT_FOUND
            - E_MIGRATION_BATCH_RUNNING
            - E_MIGRATION_DEPENDENCY_UNMET
            - E_MIGRATION_NOT_FOUND
            - E_MIGRATION_RUNNING
            - E_NAME_BLOCKED
            - E_OIDC_REPLAY
            - E_ONBOARDING_REQUIRED
            - E_ORG_FORBIDDEN
            - E_ORG_LAST_ADMIN
            - E_ORG_NAME_RESERVED
            - E_ORG_NAME_TAKEN
            - E_ORG_NOT_FOUND
            - E_PREFIX_COLLISION_RETRY_EXHAUSTED
            - E_PRIVATE_FACET_ENTITLEMENT_REQUIRED
            - E_PROFILE_CORRUPT
            - E_PUBLISH_CREDENTIAL_SCOPE
            - E_QUEUE_FULL
            - E_QUEUE_ITEM_NOT_FOUND
            - E_QUEUE_ITEM_NOT_PENDING
            - E_RATE_LIMITED
            - E_READ_ONLY
            - E_REGISTRY_UNAVAILABLE
            - E_RESERVATION_EXISTS
            - E_RESERVATION_NOT_FOUND
            - E_REVIEW_ARTIFACT_MISSING
            - E_RUN_NOT_FOUND
            - E_SCOPE_NOT_FOUND
            - E_SCOPE_NOT_OWNED
            - E_TARBALL_CORRUPTED
            - E_TARBALL_TOO_LARGE
            - E_TOKEN_EXPIRED
            - E_TOKEN_NOT_FOUND
            - E_TOKEN_REVOKED
            - E_TRUSTED_PUBLISHER_FORBIDDEN
            - E_TRUSTED_PUBLISHER_REVOKED
            - E_UNAUTHENTICATED
            - E_UNDECLARED_CONTENT
            - E_UNSUPPORTED_FACET_VERSION
            - E_UNSUPPORTED_MEDIA_TYPE
            - E_USERNAME_TAKEN
            - E_USER_NOT_FOUND
            - E_VERSION_EXISTS
            - E_WRITE_BANNED
        docs_url:
          type: string
        error:
          type: string
        fix:
          type: string
        violations:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  actual_bytes:
                    type: number
                  field:
                    const: author
                  kind:
                    const: author_too_large
                  limit_bytes:
                    type: number
                  message:
                    type: string
                required:
                  - actual_bytes
                  - field
                  - kind
                  - limit_bytes
                  - message
              - type: object
                properties:
                  actual_bytes:
                    type: number
                  field:
                    const: description
                  kind:
                    const: description_too_large
                  limit_bytes:
                    type: number
                  message:
                    type: string
                required:
                  - actual_bytes
                  - field
                  - kind
                  - limit_bytes
                  - message
              - type: object
                properties:
                  actual_bytes:
                    type: number
                  kind:
                    const: aggregate_metadata_too_large
                  limit_bytes:
                    type: number
                  message:
                    type: string
                required:
                  - actual_bytes
                  - kind
                  - limit_bytes
                  - message
              - type: object
                properties:
                  kind:
                    const: invalid_request_field
                  message:
                    type: string
                  path:
                    type: string
                required:
                  - kind
                  - message
                  - path
      required:
        - code
        - docs_url
        - error
        - fix
    PublicFacetCountResponse:
      type: object
      properties:
        count:
          type: number
      required:
        - count
    PopularFacetsResponse:
      type: object
      properties:
        facets:
          type: array
          maxItems: 4
          items:
            $ref: "#/components/schemas/FacetSummary"
      required:
        - facets
    LatestVersionResponse:
      type: object
      properties:
        latest:
          type: string
        name:
          type: string
      required:
        - latest
        - name
    VersionListResponse:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        versions:
          type: array
          items:
            type: string
      required:
        - name
        - version
        - versions
    VersionMetadata:
      type: object
      properties:
        asset_counts:
          $ref: "#/components/schemas/AssetCounts"
        content_hash:
          type: string
        content_integrity:
          type: string
        manifest_json:
          type: string
        name:
          type: string
        owner:
          anyOf:
            - type: object
              properties:
                kind:
                  const: org
                slug:
                  type: string
              required:
                - kind
                - slug
            - type: object
              properties:
                kind:
                  const: user
                username:
                  type: string
              required:
                - kind
                - username
        published_at:
          type: string
        publisher:
          type: string
        size_bytes:
          type: number
        version:
          type: string
        visibility:
          enum:
            - private
            - public
        author:
          type: string
        description:
          type: string
      required:
        - asset_counts
        - content_hash
        - content_integrity
        - manifest_json
        - name
        - owner
        - published_at
        - publisher
        - size_bytes
        - version
        - visibility
    ContentsResponse:
      type: object
      properties:
        content_integrity:
          type: string
        files:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  content:
                    type: string
                  kind:
                    const: text
                  path:
                    type: string
                  sha256:
                    type: string
                  size_bytes:
                    type: number
                required:
                  - content
                  - kind
                  - path
                  - sha256
                  - size_bytes
              - type: object
                properties:
                  kind:
                    const: binary
                  path:
                    type: string
                  sha256:
                    type: string
                  size_bytes:
                    type: number
                required:
                  - kind
                  - path
                  - sha256
                  - size_bytes
        name:
          type: string
        version:
          type: string
      required:
        - content_integrity
        - files
        - name
        - version
    ScopeRootResponse:
      type: object
      properties:
        created_at:
          type: string
        facets:
          type: array
          items:
            $ref: "#/components/schemas/FacetSummary"
        name:
          type: string
        owner:
          anyOf:
            - type: object
              properties:
                kind:
                  const: org
                slug:
                  type: string
              required:
                - kind
                - slug
            - type: object
              properties:
                kind:
                  const: user
                username:
                  type: string
              required:
                - kind
                - username
      required:
        - created_at
        - facets
        - name
        - owner
    PublishResponse:
      type: object
      properties:
        content_hash:
          type: string
        name:
          type: string
        version:
          type: string
      required:
        - content_hash
        - name
        - version
    QueuedForReviewBody:
      type: object
      properties:
        docs_url:
          type: string
        fix:
          type: string
        reason:
          enum:
            - pending
            - rate-limit
            - reserved
        status:
          const: QUEUED_FOR_REVIEW
      required:
        - docs_url
        - fix
        - reason
        - status
    AuthCliConfigResponse:
      anyOf:
        - type: object
          properties:
            authorization_endpoint:
              type: string
            client_id:
              type: string
            enabled:
              const: true
            issuer:
              type: string
            onboarding_url:
              type: string
            provider:
              const: workos
            token_endpoint:
              type: string
            verification_origin:
              type: string
          required:
            - authorization_endpoint
            - client_id
            - enabled
            - issuer
            - onboarding_url
            - provider
            - token_endpoint
            - verification_origin
        - type: object
          properties:
            enabled:
              const: false
            provider:
              enum:
                - cognito
                - workos
          required:
            - enabled
            - provider
    AuthCliLogoutResponse:
      type: object
      properties:
        ok:
          const: true
      required:
        - ok
    BrowserSessionResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: number
        token_type:
          const: Bearer
      required:
        - access_token
        - expires_in
        - token_type
    AuthMeResponse:
      type: object
      properties:
        email:
          type: string
        getting_started:
          anyOf:
            - type: object
              properties:
                entry_required:
                  type: boolean
                kind:
                  const: available
                offered:
                  type: boolean
                cli_signed_in_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                completed_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                facet_added_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                opted_out_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                presented_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                skipped_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                token_created_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
              required:
                - entry_required
                - kind
                - offered
            - type: object
              properties:
                kind:
                  const: unavailable
              required:
                - kind
        startup_experience:
          anyOf:
            - type: object
              properties:
                kind:
                  const: browse-preview
                startup_destination:
                  enum:
                    - browse
                    - landing
                    - unset
              required:
                - kind
                - startup_destination
            - type: object
              properties:
                kind:
                  const: landing-only
              required:
                - kind
        suspended:
          type: boolean
        tier:
          enum:
            - admin
            - enterprise
            - free
            - pro
        user_uuid:
          type: string
        username:
          type: string
        email_invitations_available:
          type: boolean
      required:
        - email
        - getting_started
        - startup_experience
        - suspended
        - tier
        - user_uuid
        - username
    MintTokenResponse:
      type: object
      properties:
        expires_at:
          type: string
        plaintext_token:
          type: string
        prefix:
          type: string
        scopes:
          type: array
          items:
            type: string
      required:
        - expires_at
        - plaintext_token
        - prefix
        - scopes
    ListTokensResponse:
      type: object
      properties:
        tokens:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              expires_at:
                type: string
              name:
                type: string
              prefix:
                type: string
              scopes:
                type: array
                items:
                  type: string
              last_used_at:
                type: string
              revoked_at:
                type: string
            required:
              - created_at
              - expires_at
              - name
              - prefix
              - scopes
      required:
        - tokens
    AdminOverviewResponse:
      type: object
      properties:
        analytics:
          type: object
          properties:
            resync_pending:
              type: boolean
          required:
            - resync_pending
        control_count:
          type: number
        events:
          type: object
          properties:
            dead_lettered:
              type: number
            unhealthy_consumers:
              type: number
          required:
            - dead_lettered
            - unhealthy_consumers
        migrations_pending:
          type: number
        read_only_mode:
          type: boolean
        review_pending:
          type: number
        search:
          type: object
          properties:
            missing:
              type: number
            red:
              type: number
            yellow:
              type: number
          required:
            - missing
            - red
            - yellow
      required:
        - analytics
        - control_count
        - events
        - migrations_pending
        - read_only_mode
        - review_pending
        - search
    MigrationListResponse:
      type: object
      properties:
        migrations:
          type: array
          items:
            type: object
            properties:
              available:
                type: boolean
              description:
                type: string
              id:
                type: string
              kind:
                enum:
                  - once
                  - rerunnable
              latest_run:
                type: object
                properties:
                  actor_username:
                    type: string
                  created:
                    type: number
                  deleted:
                    type: number
                  dry_run:
                    type: boolean
                  effected:
                    type: number
                  expected:
                    type: number
                  failed:
                    type: number
                  migration_id:
                    type: string
                  repaired:
                    type: number
                  run_id:
                    type: string
                  scanned:
                    type: number
                  skipped:
                    type: number
                  started_at:
                    type: string
                  status:
                    enum:
                      - failed
                      - running
                      - succeeded
                  error:
                    type: string
                  finished_at:
                    type: string
                required:
                  - actor_username
                  - created
                  - deleted
                  - dry_run
                  - effected
                  - expected
                  - failed
                  - migration_id
                  - repaired
                  - run_id
                  - scanned
                  - skipped
                  - started_at
                  - status
              unmet_dependencies:
                type: array
                items:
                  type: string
            required:
              - available
              - description
              - id
              - kind
        latest_batch:
          type: object
          properties:
            actor_username:
              type: string
            batch_id:
              type: string
            completed_migration_ids:
              type: array
              items:
                type: string
            started_at:
              type: string
            status:
              enum:
                - failed
                - running
                - succeeded
            total_pending:
              type: number
            current:
              type: object
              properties:
                migration_id:
                  type: string
                phase:
                  enum:
                    - dry_run
                    - real_run
                run_id:
                  type: string
              required:
                - migration_id
                - phase
            failed:
              type: object
              properties:
                phase:
                  enum:
                    - dry_run
                    - real_run
                error:
                  type: string
                migration_id:
                  type: string
                run_id:
                  type: string
              required:
                - phase
            finished_at:
              type: string
          required:
            - actor_username
            - batch_id
            - completed_migration_ids
            - started_at
            - status
            - total_pending
      required:
        - migrations
    MigrationRunListResponse:
      type: object
      properties:
        runs:
          type: array
          items:
            type: object
            properties:
              actor_username:
                type: string
              created:
                type: number
              deleted:
                type: number
              dry_run:
                type: boolean
              effected:
                type: number
              expected:
                type: number
              failed:
                type: number
              migration_id:
                type: string
              repaired:
                type: number
              run_id:
                type: string
              scanned:
                type: number
              skipped:
                type: number
              started_at:
                type: string
              status:
                enum:
                  - failed
                  - running
                  - succeeded
              error:
                type: string
              finished_at:
                type: string
            required:
              - actor_username
              - created
              - deleted
              - dry_run
              - effected
              - expected
              - failed
              - migration_id
              - repaired
              - run_id
              - scanned
              - skipped
              - started_at
              - status
      required:
        - runs
    MigrationBatchResponse:
      type: object
      properties:
        actor_username:
          type: string
        batch_id:
          type: string
        completed_migration_ids:
          type: array
          items:
            type: string
        started_at:
          type: string
        status:
          enum:
            - failed
            - running
            - succeeded
        total_pending:
          type: number
        current:
          type: object
          properties:
            migration_id:
              type: string
            phase:
              enum:
                - dry_run
                - real_run
            run_id:
              type: string
          required:
            - migration_id
            - phase
        failed:
          type: object
          properties:
            phase:
              enum:
                - dry_run
                - real_run
            error:
              type: string
            migration_id:
              type: string
            run_id:
              type: string
          required:
            - phase
        finished_at:
          type: string
      required:
        - actor_username
        - batch_id
        - completed_migration_ids
        - started_at
        - status
        - total_pending
    MigrationRunResponse:
      type: object
      properties:
        actor_username:
          type: string
        created:
          type: number
        deleted:
          type: number
        dry_run:
          type: boolean
        effected:
          type: number
        expected:
          type: number
        failed:
          type: number
        failures:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
              row_key:
                type: string
            required:
              - reason
              - row_key
        migration_id:
          type: string
        repaired:
          type: number
        run_id:
          type: string
        scanned:
          type: number
        skipped:
          type: number
        started_at:
          type: string
        status:
          enum:
            - failed
            - running
            - succeeded
        error:
          type: string
        finished_at:
          type: string
      required:
        - actor_username
        - created
        - deleted
        - dry_run
        - effected
        - expected
        - failed
        - failures
        - migration_id
        - repaired
        - run_id
        - scanned
        - skipped
        - started_at
        - status
    PilotIntakeAdminListResponse:
      type: object
      properties:
        submissions:
          type: array
          items:
            type: object
            properties:
              answers:
                type: object
                properties:
                  q01:
                    enum:
                      - eng_leader
                      - individual_engineer
                      - other
                      - platform_owner
                      - team_lead
                  q02:
                    enum:
                      - 21_50
                      - 2_4
                      - 50_plus
                      - 5_20
                      - just_me
                  q03:
                    type: array
                    minItems: 1
                    items:
                      enum:
                        - claude_code
                        - codex
                        - cursor
                        - gemini_cli
                        - github_copilot
                        - opencode
                        - other
                        - windsurf
                  q04:
                    enum:
                      - claude_code
                      - codex
                      - cursor
                      - gemini_cli
                      - github_copilot
                      - opencode
                      - other
                      - windsurf
                  q05:
                    type: array
                    minItems: 1
                    items:
                      enum:
                        - checked_into_repos
                        - distributed_ci
                        - dotfiles_symlinks
                        - individual
                        - no_custom_config
                        - shared_informally
                  q06:
                    type: array
                    minItems: 1
                    items:
                      enum:
                        - custom_agents
                        - custom_commands
                        - custom_skills
                        - internal_mcp_servers
                        - mcp_configs
                        - none_builtins
                  q07:
                    type: array
                    minItems: 1
                    items:
                      enum:
                        - breaking_update
                        - held_off_install
                        - manual_porting
                        - none
                        - rewrote_skill
                        - security_asked
                        - version_mismatch
                  q10:
                    enum:
                      - me
                      - named_owner
                      - nobody_yet
                      - shared_no_owner
                  q11:
                    enum:
                      - no
                      - sandbox_only
                      - yes
                      - yes_after_approval
                  q12:
                    enum:
                      - cannot_commit
                      - daily_plus_checkins
                      - plus_rollout
                      - plus_weekly_feedback
                  q13:
                    type: array
                    maxItems: 3
                    minItems: 1
                    items:
                      enum:
                        - adoption_help
                        - consistent_installs
                        - control_agents
                        - evaluate_governance
                        - replace_glue
                        - standardize_team
                  q14:
                    enum:
                      - founder_network
                      - github
                      - other
                      - referral
                  q08:
                    type: string
                  q09:
                    type: string
                  q14_other:
                    type: string
                  q15:
                    type: string
                  q16:
                    type: string
                required:
                  - q01
                  - q02
                  - q03
                  - q04
                  - q05
                  - q06
                  - q07
                  - q10
                  - q11
                  - q12
                  - q13
                  - q14
              contact:
                type: object
                properties:
                  email:
                    type: string
                  name:
                    type: string
                required:
                  - email
              evaluation:
                anyOf:
                  - type: object
                    properties:
                      adapter_gap:
                        type: boolean
                      breakdown:
                        type: object
                        properties:
                          commitment:
                            type: number
                          friction:
                            type: number
                          glue:
                            type: number
                          harnesses:
                            type: number
                          install:
                            type: number
                          outcome:
                            type: number
                          owner:
                            type: number
                          team_size:
                            type: number
                        required:
                          - commitment
                          - friction
                          - glue
                          - harnesses
                          - install
                          - outcome
                          - owner
                          - team_size
                      outcome:
                        const: nurture
                      score:
                        type: number
                      stage:
                        const: score
                      tier:
                        const: nurture
                      unsupported_primary:
                        type: boolean
                    required:
                      - adapter_gap
                      - breakdown
                      - outcome
                      - score
                      - stage
                      - tier
                      - unsupported_primary
                  - type: object
                    properties:
                      adapter_gap:
                        type: boolean
                      breakdown:
                        type: object
                        properties:
                          commitment:
                            type: number
                          friction:
                            type: number
                          glue:
                            type: number
                          harnesses:
                            type: number
                          install:
                            type: number
                          outcome:
                            type: number
                          owner:
                            type: number
                          team_size:
                            type: number
                        required:
                          - commitment
                          - friction
                          - glue
                          - harnesses
                          - install
                          - outcome
                          - owner
                          - team_size
                      outcome:
                        const: schedule
                      score:
                        type: number
                      tier:
                        enum:
                          - priority
                          - schedule
                      unsupported_primary:
                        type: boolean
                    required:
                      - adapter_gap
                      - breakdown
                      - outcome
                      - score
                      - tier
                      - unsupported_primary
                  - type: object
                    properties:
                      adapter_gap:
                        type: boolean
                      failed_gate:
                        enum:
                          - G1
                          - G2
                          - G3
                          - G4
                      outcome:
                        const: nurture
                      stage:
                        const: gate
                      unsupported_primary:
                        type: boolean
                    required:
                      - adapter_gap
                      - failed_gate
                      - outcome
                      - stage
                      - unsupported_primary
                  - type: object
                    properties:
                      adapter_gap:
                        type: boolean
                      flags:
                        type: array
                        minItems: 1
                        items:
                          enum:
                            - q10_no_owner
                            - q12_no_commitment
                            - q13_adoption
                            - q13_governance
                      outcome:
                        const: nurture
                      stage:
                        const: flag
                      unsupported_primary:
                        type: boolean
                    required:
                      - adapter_gap
                      - flags
                      - outcome
                      - stage
                      - unsupported_primary
              questionnaire_version:
                type: string
              review:
                anyOf:
                  - type: object
                    properties:
                      reviewed_at:
                        type: string
                      reviewer_user_id:
                        type: string
                      status:
                        const: done
                      verdict:
                        enum:
                          - concrete
                          - hypothetical
                    required:
                      - reviewed_at
                      - reviewer_user_id
                      - status
                      - verdict
                  - type: object
                    properties:
                      status:
                        const: not-required
                    required:
                      - status
                  - type: object
                    properties:
                      status:
                        const: pending
                    required:
                      - status
              submission_id:
                type: string
              submitted_at:
                type: string
              booking:
                type: object
                properties:
                  end_time:
                    type: string
                  reported_at:
                    type: string
                  start_time:
                    type: string
                  status:
                    enum:
                      - booked
                      - cancelled
                  uid:
                    type: string
                required:
                  - end_time
                  - reported_at
                  - start_time
                  - status
                  - uid
              review_history:
                type: array
                items:
                  type: object
                  properties:
                    reset_at:
                      type: string
                    reviewed_at:
                      type: string
                    reviewer_user_id:
                      type: string
                    verdict:
                      enum:
                        - concrete
                        - hypothetical
                  required:
                    - reset_at
                    - reviewed_at
                    - reviewer_user_id
                    - verdict
            required:
              - answers
              - contact
              - evaluation
              - questionnaire_version
              - review
              - submission_id
              - submitted_at
        next_cursor:
          type: string
      required:
        - submissions
    PilotIntakeReviewRequest:
      type: object
      properties:
        verdict:
          enum:
            - concrete
            - hypothetical
      required:
        - verdict
    ReservationListResponse:
      type: object
      properties:
        reservations:
          type: array
          items:
            type: object
            properties:
              added_at:
                type: string
              added_by_user_id:
                type: string
              name:
                type: string
              pool:
                enum:
                  - global
                  - scope
              reason:
                type: string
            required:
              - added_at
              - added_by_user_id
              - name
              - pool
      required:
        - reservations
    AdminQueueListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              id:
                type: string
              queue_type:
                enum:
                  - global-facet
                  - org-claim
              reason:
                enum:
                  - pending
                  - rate-limit
                  - reserved
              status:
                enum:
                  - approved
                  - pending
                  - rejected
                  - superseded
                  - withdrawn
              target:
                type: string
              tier:
                enum:
                  - enterprise
                  - free
                  - pro
              user_uuid:
                type: string
              username:
                type: string
              decided_at:
                type: string
              decided_by:
                type: string
              decision_reason:
                type: string
              justification:
                type: string
              requested_display_name:
                type: string
              requested_slug:
                type: string
            required:
              - created_at
              - id
              - queue_type
              - reason
              - status
              - target
              - tier
              - user_uuid
              - username
      required:
        - items
    ValidationErrorBody:
      type: object
      properties:
        data: {}
        error:
          type: array
        success:
          const: false
      required:
        - data
        - error
        - success
    AdminQueueDecisionResponse:
      anyOf:
        - type: object
          properties:
            decision_reason:
              type: string
              minLength: 1
            outcome:
              const: superseded
          required:
            - decision_reason
            - outcome
        - type: object
          properties:
            outcome:
              const: approved
          required:
            - outcome
        - type: object
          properties:
            outcome:
              const: rejected
          required:
            - outcome
    AdminUserListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              suspended:
                type: boolean
              tier:
                enum:
                  - admin
                  - enterprise
                  - free
                  - pro
              user_id:
                type: string
              username:
                type: string
            required:
              - email
              - suspended
              - tier
              - user_id
              - username
        cursor:
          type: string
      required:
        - users
    StartImpersonationResponse:
      type: object
      properties:
        target:
          type: object
          properties:
            user_id:
              type: string
            username:
              type: string
          required:
            - user_id
            - username
      required:
        - target
    AdminOrgListResponse:
      type: object
      properties:
        organizations:
          type: array
          items:
            type: object
            properties:
              display_name:
                type: string
              org_id:
                type: string
              slug:
                type: string
            required:
              - display_name
              - org_id
              - slug
        cursor:
          type: string
      required:
        - organizations
    EventDeliveryHealthResponse:
      type: object
      properties:
        consumers:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  analytics_lag:
                    type: object
                    properties:
                      capture_dead_letter_count:
                        anyOf:
                          - type: number
                          - type: "null"
                      flush_running:
                        type: boolean
                      has_more:
                        type: boolean
                      last_loaded_key:
                        anyOf:
                          - type: string
                          - type: "null"
                      last_run_at:
                        anyOf:
                          - type: string
                          - type: "null"
                      open_pending_at_least:
                        type: number
                      resync_pending:
                        type: boolean
                      sealed_unflushed_at_least:
                        type: number
                    required:
                      - capture_dead_letter_count
                      - flush_running
                      - has_more
                      - last_loaded_key
                      - last_run_at
                      - open_pending_at_least
                      - resync_pending
                      - sealed_unflushed_at_least
                  capture_dlq_depth:
                    anyOf:
                      - type: number
                      - type: "null"
                  consumer:
                    const: analytics
                  popularity:
                    anyOf:
                      - type: object
                        properties:
                          refresh_running:
                            type: boolean
                          snapshot:
                            anyOf:
                              - type: object
                                properties:
                                  calculated_at:
                                    type: string
                                  candidate_count:
                                    type: number
                                  state:
                                    enum:
                                      - current
                                      - expired
                                  window_ended_at:
                                    type: string
                                required:
                                  - calculated_at
                                  - candidate_count
                                  - state
                                  - window_ended_at
                              - type: object
                                properties:
                                  state:
                                    const: missing
                                required:
                                  - state
                          state:
                            const: available
                        required:
                          - refresh_running
                          - snapshot
                          - state
                      - type: object
                        properties:
                          state:
                            const: unavailable
                        required:
                          - state
                required:
                  - analytics_lag
                  - capture_dlq_depth
                  - consumer
                  - popularity
              - type: object
                properties:
                  apply_dlq_depth:
                    type: number
                  consumer:
                    const: search-indexer
                  delivery_dlq_depth:
                    anyOf:
                      - type: number
                      - type: "null"
                required:
                  - apply_dlq_depth
                  - consumer
                  - delivery_dlq_depth
              - type: object
                properties:
                  consumer:
                    const: public-facet-count
                  delivery_dlq_depth:
                    anyOf:
                      - type: number
                      - type: "null"
                required:
                  - consumer
                  - delivery_dlq_depth
        dead_lettered_count:
          type: number
        dead_letters:
          type: array
          items:
            type: object
            properties:
              attempt_count:
                type: number
              event_id:
                type: string
              event_type:
                type: string
              failed_at:
                type: string
              occurred_at:
                type: string
              producer:
                type: string
              subject:
                type: string
              subject_sequence:
                type: number
              last_error:
                type: string
            required:
              - attempt_count
              - event_id
              - event_type
              - failed_at
              - occurred_at
              - producer
              - subject
              - subject_sequence
        oldest_pending_age_ms:
          anyOf:
            - type: number
            - type: "null"
        pending_count:
          type: number
      required:
        - consumers
        - dead_lettered_count
        - dead_letters
        - oldest_pending_age_ms
        - pending_count
    SearchBackfillResponse:
      type: object
      properties:
        index_prefix:
          type: string
        subjects:
          type: array
          items:
            type: object
            properties:
              count_parity:
                type: boolean
              errors:
                type: array
                items:
                  type: string
              index_count:
                type: number
              indexed:
                type: number
              scanned:
                type: number
              stale_skipped:
                type: number
              subject:
                type: string
            required:
              - count_parity
              - errors
              - index_count
              - indexed
              - scanned
              - stale_skipped
              - subject
        error:
          type: string
      required:
        - index_prefix
        - subjects
    SearchReplayResponse:
      type: object
      properties:
        failed:
          type: number
        replayed:
          type: number
        results:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
              outcome:
                enum:
                  - failed
                  - lane-absent
                  - meta-absent
                  - stale-skipped
                  - subject-absent
                  - upserted
              error:
                type: string
            required:
              - event_id
              - outcome
      required:
        - failed
        - replayed
        - results
    SearchVerifyResponse:
      type: object
      properties:
        index_prefix:
          type: string
        subjects:
          type: array
          items:
            type: object
            properties:
              matched:
                type: number
              mismatches:
                type: array
                items:
                  type: object
                  properties:
                    diffs:
                      type: array
                      items:
                        type: object
                        properties:
                          expected:
                            type: string
                          field:
                            type: string
                          indexed:
                            type: string
                        required:
                          - expected
                          - field
                          - indexed
                    diverged_fields:
                      type: array
                      items:
                        type: string
                    id:
                      type: string
                  required:
                    - diffs
                    - diverged_fields
                    - id
              missing:
                type: array
                items:
                  type: string
              sampled:
                type: number
              subject:
                type: string
            required:
              - matched
              - mismatches
              - missing
              - sampled
              - subject
        error:
          type: string
      required:
        - index_prefix
        - subjects
    SearchIndexListResponse:
      type: object
      properties:
        index_prefix:
          type: string
        indexes:
          type: array
          items:
            type: object
            properties:
              degraded_reason:
                anyOf:
                  - type: string
                  - type: "null"
              docs:
                type: number
              health:
                enum:
                  - green
                  - red
                  - yellow
              last_backfilled:
                anyOf:
                  - type: string
                  - type: "null"
              last_verified:
                anyOf:
                  - type: string
                  - type: "null"
              name:
                type: string
            required:
              - degraded_reason
              - docs
              - health
              - last_backfilled
              - last_verified
              - name
      required:
        - index_prefix
        - indexes
    SearchTeardownResponse:
      type: object
      properties:
        index_prefix:
          type: string
        indexes:
          type: object
          additionalProperties:
            type: object
            properties:
              existed:
                type: boolean
            required:
              - existed
      required:
        - index_prefix
        - indexes
    SystemControlListResponse:
      type: object
      properties:
        controls:
          type: array
          items:
            type: object
            properties:
              definition:
                anyOf:
                  - type: object
                    properties:
                      allowed_values:
                        type: array
                        items:
                          type: string
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: string
                      key:
                        type: string
                      kind:
                        const: string-enum
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - allowed_values
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: number
                      key:
                        type: string
                      kind:
                        const: number
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      number_type:
                        enum:
                          - decimal
                          - integer
                      purpose:
                        enum:
                          - application
                          - system
                      max:
                        type: number
                      max_precision:
                        type: number
                      min:
                        type: number
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - number_type
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: boolean
                      key:
                        type: string
                      kind:
                        const: boolean
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
              resolution:
                type: object
                properties:
                  control_key:
                    type: string
                  source:
                    enum:
                      - code-fallback
                      - organization
                      - organization_role
                      - organization_tier
                      - system
                      - user
                      - user_tier
                  value:
                    anyOf:
                      - type: number
                      - type: string
                      - type: boolean
                  fallback_reason:
                    enum:
                      - no-configured-rule
                      - runtime-state-unavailable
                required:
                  - control_key
                  - source
                  - value
              rule:
                type: object
                properties:
                  target:
                    anyOf:
                      - type: object
                        properties:
                          kind:
                            const: organization
                          org_id:
                            type: string
                        required:
                          - kind
                          - org_id
                      - type: object
                        properties:
                          kind:
                            const: organization_role
                          org_id:
                            type: string
                          org_role:
                            enum:
                              - admin
                              - publisher
                              - viewer
                        required:
                          - kind
                          - org_id
                          - org_role
                      - type: object
                        properties:
                          kind:
                            const: organization_tier
                          organization_tier:
                            enum:
                              - enterprise
                              - free
                              - pro
                        required:
                          - kind
                          - organization_tier
                      - type: object
                        properties:
                          kind:
                            const: system
                        required:
                          - kind
                      - type: object
                        properties:
                          kind:
                            const: user
                          user_id:
                            type: string
                        required:
                          - kind
                          - user_id
                      - type: object
                        properties:
                          kind:
                            const: user_tier
                          user_tier:
                            enum:
                              - admin
                              - enterprise
                              - free
                              - pro
                        required:
                          - kind
                          - user_tier
                  updated_at:
                    type: string
                  updated_by_user_id:
                    type: string
                  value:
                    anyOf:
                      - type: object
                        properties:
                          kind:
                            const: boolean
                          value:
                            type: boolean
                        required:
                          - kind
                          - value
                      - type: object
                        properties:
                          kind:
                            const: number
                          value:
                            type: number
                        required:
                          - kind
                          - value
                      - type: object
                        properties:
                          kind:
                            const: string-enum
                          value:
                            type: string
                        required:
                          - kind
                          - value
                  reason:
                    type: string
                  target_org_slug:
                    type: string
                  target_username:
                    type: string
                  updated_by_username:
                    type: string
                required:
                  - target
                  - updated_at
                  - updated_by_user_id
                  - value
            required:
              - definition
              - resolution
      required:
        - controls
    ControlAuditResponse:
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            properties:
              action:
                enum:
                  - rule_created
                  - rule_removed
                  - value_changed
              actor_user_id:
                type: string
              control_key:
                type: string
              occurred_at:
                type: string
              target:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: organization
                      org_id:
                        type: string
                    required:
                      - kind
                      - org_id
                  - type: object
                    properties:
                      kind:
                        const: organization_role
                      org_id:
                        type: string
                      org_role:
                        enum:
                          - admin
                          - publisher
                          - viewer
                    required:
                      - kind
                      - org_id
                      - org_role
                  - type: object
                    properties:
                      kind:
                        const: organization_tier
                      organization_tier:
                        enum:
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - organization_tier
                  - type: object
                    properties:
                      kind:
                        const: system
                    required:
                      - kind
                  - type: object
                    properties:
                      kind:
                        const: user
                      user_id:
                        type: string
                    required:
                      - kind
                      - user_id
                  - type: object
                    properties:
                      kind:
                        const: user_tier
                      user_tier:
                        enum:
                          - admin
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - user_tier
              actor_username:
                type: string
              batch_id:
                type: string
              new_value:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: boolean
                      value:
                        type: boolean
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: number
                      value:
                        type: number
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: string-enum
                      value:
                        type: string
                    required:
                      - kind
                      - value
              previous_value:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: boolean
                      value:
                        type: boolean
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: number
                      value:
                        type: number
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: string-enum
                      value:
                        type: string
                    required:
                      - kind
                      - value
              reason:
                type: string
              target_org_slug:
                type: string
              target_username:
                type: string
            required:
              - action
              - actor_user_id
              - control_key
              - occurred_at
              - target
      required:
        - events
    ApplicationControlListResponse:
      type: object
      properties:
        controls:
          type: array
          items:
            type: object
            properties:
              definition:
                anyOf:
                  - type: object
                    properties:
                      allowed_values:
                        type: array
                        items:
                          type: string
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: string
                      key:
                        type: string
                      kind:
                        const: string-enum
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - allowed_values
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: number
                      key:
                        type: string
                      kind:
                        const: number
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      number_type:
                        enum:
                          - decimal
                          - integer
                      purpose:
                        enum:
                          - application
                          - system
                      max:
                        type: number
                      max_precision:
                        type: number
                      min:
                        type: number
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - number_type
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: boolean
                      key:
                        type: string
                      kind:
                        const: boolean
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
              rules:
                type: array
                items:
                  type: object
                  properties:
                    target:
                      anyOf:
                        - type: object
                          properties:
                            kind:
                              const: organization
                            org_id:
                              type: string
                          required:
                            - kind
                            - org_id
                        - type: object
                          properties:
                            kind:
                              const: organization_role
                            org_id:
                              type: string
                            org_role:
                              enum:
                                - admin
                                - publisher
                                - viewer
                          required:
                            - kind
                            - org_id
                            - org_role
                        - type: object
                          properties:
                            kind:
                              const: organization_tier
                            organization_tier:
                              enum:
                                - enterprise
                                - free
                                - pro
                          required:
                            - kind
                            - organization_tier
                        - type: object
                          properties:
                            kind:
                              const: system
                          required:
                            - kind
                        - type: object
                          properties:
                            kind:
                              const: user
                            user_id:
                              type: string
                          required:
                            - kind
                            - user_id
                        - type: object
                          properties:
                            kind:
                              const: user_tier
                            user_tier:
                              enum:
                                - admin
                                - enterprise
                                - free
                                - pro
                          required:
                            - kind
                            - user_tier
                    updated_at:
                      type: string
                    updated_by_user_id:
                      type: string
                    value:
                      anyOf:
                        - type: object
                          properties:
                            kind:
                              const: boolean
                            value:
                              type: boolean
                          required:
                            - kind
                            - value
                        - type: object
                          properties:
                            kind:
                              const: number
                            value:
                              type: number
                          required:
                            - kind
                            - value
                        - type: object
                          properties:
                            kind:
                              const: string-enum
                            value:
                              type: string
                          required:
                            - kind
                            - value
                    reason:
                      type: string
                    target_org_slug:
                      type: string
                    target_username:
                      type: string
                    updated_by_username:
                      type: string
                  required:
                    - target
                    - updated_at
                    - updated_by_user_id
                    - value
            required:
              - definition
              - rules
      required:
        - controls
    BulkTierRuleResponse:
      type: object
      properties:
        batch_id:
          type: string
        outcomes:
          type: array
          items:
            type: object
            properties:
              result:
                enum:
                  - concurrent-modification
                  - created
                  - rejected
                  - updated
              target:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: organization
                      org_id:
                        type: string
                    required:
                      - kind
                      - org_id
                  - type: object
                    properties:
                      kind:
                        const: organization_role
                      org_id:
                        type: string
                      org_role:
                        enum:
                          - admin
                          - publisher
                          - viewer
                    required:
                      - kind
                      - org_id
                      - org_role
                  - type: object
                    properties:
                      kind:
                        const: organization_tier
                      organization_tier:
                        enum:
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - organization_tier
                  - type: object
                    properties:
                      kind:
                        const: system
                    required:
                      - kind
                  - type: object
                    properties:
                      kind:
                        const: user
                      user_id:
                        type: string
                    required:
                      - kind
                      - user_id
                  - type: object
                    properties:
                      kind:
                        const: user_tier
                      user_tier:
                        enum:
                          - admin
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - user_tier
              detail:
                type: string
            required:
              - result
              - target
      required:
        - batch_id
        - outcomes
    ControlInspectionResponse:
      type: object
      properties:
        resolution:
          type: object
          properties:
            control_key:
              type: string
            source:
              enum:
                - code-fallback
                - organization
                - organization_role
                - organization_tier
                - system
                - user
                - user_tier
            value:
              anyOf:
                - type: number
                - type: string
                - type: boolean
            fallback_reason:
              enum:
                - no-configured-rule
                - runtime-state-unavailable
          required:
            - control_key
            - source
            - value
        trace:
          type: array
          items:
            type: object
            properties:
              outcome:
                enum:
                  - applied
                  - invalid-control
                  - no-control
                  - shadowed
              source:
                enum:
                  - organization
                  - organization_role
                  - organization_tier
                  - system
                  - user
                  - user_tier
              detail:
                type: string
            required:
              - outcome
              - source
        org_contexts:
          type: array
          items:
            type: object
            properties:
              org_display_name:
                type: string
              org_id:
                type: string
              org_role:
                enum:
                  - admin
                  - publisher
                  - viewer
              org_slug:
                type: string
              resolution:
                type: object
                properties:
                  control_key:
                    type: string
                  source:
                    enum:
                      - code-fallback
                      - organization
                      - organization_role
                      - organization_tier
                      - system
                      - user
                      - user_tier
                  value:
                    anyOf:
                      - type: number
                      - type: string
                      - type: boolean
                  fallback_reason:
                    enum:
                      - no-configured-rule
                      - runtime-state-unavailable
                required:
                  - control_key
                  - source
                  - value
              trace:
                type: array
                items:
                  type: object
                  properties:
                    outcome:
                      enum:
                        - applied
                        - invalid-control
                        - no-control
                        - shadowed
                    source:
                      enum:
                        - organization
                        - organization_role
                        - organization_tier
                        - system
                        - user
                        - user_tier
                    detail:
                      type: string
                  required:
                    - outcome
                    - source
            required:
              - org_display_name
              - org_id
              - org_role
              - org_slug
              - resolution
              - trace
      required:
        - resolution
        - trace
    ReviewQueueListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              id:
                type: string
              queue_type:
                enum:
                  - global-facet
                  - org-claim
              reason:
                enum:
                  - pending
                  - rate-limit
                  - reserved
              status:
                enum:
                  - approved
                  - pending
                  - rejected
                  - superseded
                  - withdrawn
              target:
                type: string
              decided_at:
                type: string
              decided_by:
                type: string
              decision_reason:
                type: string
              justification:
                type: string
              requested_display_name:
                type: string
              requested_slug:
                type: string
            required:
              - created_at
              - id
              - queue_type
              - reason
              - status
              - target
      required:
        - items
    StartupDestinationResponse:
      type: object
      properties:
        startup_destination:
          enum:
            - browse
            - landing
      required:
        - startup_destination
    MarkGettingStartedProgressResponse:
      type: object
      properties:
        getting_started:
          anyOf:
            - type: object
              properties:
                entry_required:
                  type: boolean
                kind:
                  const: available
                offered:
                  type: boolean
                cli_signed_in_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                completed_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                facet_added_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                opted_out_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                presented_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                skipped_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
                token_created_at:
                  type: string
                  pattern: ^([+-]?\d{4}(?!\d{2}\b))((-?)((0[1-9]|1[0-2])(\3([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-3])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6])))(T((([01]\d|2[0-3])((:?)[0-5]\d)?|24:?00)([,.]\d+(?!:))?)?(\17[0-5]\d([,.]\d+)?)?([Zz]|([+-])([01]\d|2[0-3]):?([0-5]\d)?)?)?)?$
              required:
                - entry_required
                - kind
                - offered
            - type: object
              properties:
                kind:
                  const: unavailable
              required:
                - kind
      required:
        - getting_started
    OrgDetailResponse:
      type: object
      properties:
        created_at:
          type: string
        display_name:
          type: string
        slug:
          type: string
        viewer_role:
          enum:
            - admin
            - none
            - publisher
            - viewer
        description:
          type: string
        homepage_url:
          type: string
      required:
        - created_at
        - display_name
        - slug
        - viewer_role
    OrgListResponse:
      type: object
      properties:
        invitations:
          type: array
          items:
            type: object
            properties:
              display_name:
                type: string
              invited_by_user_id:
                type: string
              role:
                enum:
                  - admin
                  - publisher
                  - viewer
              slug:
                type: string
            required:
              - display_name
              - invited_by_user_id
              - role
              - slug
        organizations:
          type: array
          items:
            type: object
            properties:
              display_name:
                type: string
              role:
                enum:
                  - admin
                  - publisher
                  - viewer
              slug:
                type: string
            required:
              - display_name
              - role
              - slug
      required:
        - invitations
        - organizations
    UserSearchResponse:
      type: object
      properties:
        users:
          type: array
          items:
            type: object
            properties:
              user_id:
                type: string
              username:
                type: string
            required:
              - user_id
              - username
      required:
        - users
    OrgMemberListResponse:
      type: object
      properties:
        members:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              role:
                enum:
                  - admin
                  - publisher
                  - viewer
              status:
                enum:
                  - active
                  - invited
              user_id:
                type: string
              username:
                type: string
            required:
              - email
              - role
              - status
              - user_id
              - username
      required:
        - members
    PilotIntakeSubmitResponse:
      anyOf:
        - type: object
          properties:
            outcome:
              const: nurture
          required:
            - outcome
        - type: object
          properties:
            outcome:
              const: schedule
            scheduling:
              anyOf:
                - type: object
                  properties:
                    embed_url:
                      type: string
                  required:
[...]
