# Generated by: bun run codegen:registry
# Source: https://api.facet.cafe/v0/openapi.yaml
# Generated-At: 2026-06-01T16:27:11.193Z
# Do not edit by hand. Run `bun run codegen:registry` from packages/engine to refresh.
openapi: 3.1.0
info:
  title: Facet Cafe Registry API (V0)
  description: Auto-generated from describeRoute() annotations on each route
    handler. The route definitions are the single source of truth.
  version: 0.1.0
servers:
  - url: https://api.facet.cafe
    description: Production
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          const: ok
        version:
          type: string
      required:
        - status
        - version
    AssetCounts:
      type: object
      properties:
        agents:
          type: number
        commands:
          type: number
        servers:
          type: number
        skills:
          type: number
      required:
        - agents
        - commands
        - servers
        - skills
    FacetSummary:
      type: object
      properties:
        assetCounts:
          $ref: "#/components/schemas/AssetCounts"
        latestVersion:
          type: string
        name:
          type: string
        publishedAt:
          type: string
        author:
          type: string
        description:
          type: string
      required:
        - assetCounts
        - latestVersion
        - name
        - publishedAt
    SearchResponse:
      type: object
      properties:
        facets:
          type: array
          items:
            $ref: "#/components/schemas/FacetSummary"
      required:
        - facets
    InfoResponse:
      type: object
      properties:
        assetCounts:
          $ref: "#/components/schemas/AssetCounts"
        latest:
          type: string
        name:
          type: string
        publishedAt:
          type: string
        versions:
          type: array
          items:
            type: string
        author:
          type: string
        description:
          type: string
      required:
        - assetCounts
        - latest
        - name
        - publishedAt
        - versions
    ApiErrorBody:
      type: object
      properties:
        code:
          enum:
            - E_API_KEY_MISSING
            - E_FACET_NOT_FOUND
            - E_REGISTRY_UNAVAILABLE
            - E_TARBALL_CORRUPTED
            - E_TARBALL_TOO_LARGE
            - VERSION_EXISTS
        docsUrl:
          type: string
        error:
          type: string
      required:
        - code
        - docsUrl
        - error
    VersionMetadata:
      type: object
      properties:
        assetCounts:
          $ref: "#/components/schemas/AssetCounts"
        contentHash:
          type: string
        manifestJson:
          type: string
        name:
          type: string
        publishedAt:
          type: string
        sizeBytes:
          type: number
        version:
          type: string
        author:
          type: string
        description:
          type: string
      required:
        - assetCounts
        - contentHash
        - manifestJson
        - name
        - publishedAt
        - sizeBytes
        - version
    PublishResponse:
      type: object
      properties:
        contentHash:
          type: string
        name:
          type: string
        version:
          type: string
      required:
        - contentHash
        - name
        - version
paths:
  /v0/health:
    get:
      operationId: getV0Health
      summary: Liveness probe
      tags:
        - health
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /v0/packages:
    get:
      operationId: getV0Packages
      summary: List or search facets
      description: Returns up to 200 published facets (LATEST pointers). V0 ships
        without server-side `?q=` filtering — clients filter client-side.
        Pagination lands in alpha.
      tags:
        - packages
      responses:
        "200":
          description: List of facet summaries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
  /v0/packages/{name}:
    get:
      operationId: getV0PackagesByName
      summary: Get info about a facet
      description: "npm-style info: returns the LATEST version metadata plus the full
        list of published versions."
      tags:
        - packages
      parameters:
        - &a1
          name: name
          in: path
          required: true
          description: Canonical facet name. May contain a literal slash for namespaced
            facets — encode it as `%2F` in URLs (npm-style).
          schema:
            type: string
            pattern: ^(?:[a-z][a-z0-9-]*\/)?[a-z][a-z0-9-]*$
      responses:
        "200":
          description: Facet info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/packages/{name}/{version}:
    get:
      operationId: getV0PackagesByNameByVersion
      summary: Get metadata for a specific version
      description: Returns the version row's metadata including the verbatim
        manifestJson string. version may be `latest` to resolve through the
        LATEST pointer.
      tags:
        - packages
      parameters:
        - *a1
        - &a2
          name: version
          in: path
          required: true
          description: Semver version (e.g., `1.2.3`) or the literal `latest`.
          schema:
            type: string
      responses:
        "200":
          description: Version metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionMetadata"
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/packages/{name}/{version}/archive:
    get:
      operationId: getV0PackagesByNameByVersionArchive
      summary: Download the version's tarball
      description: 302 redirects to a 5-minute presigned S3 URL. Follow the redirect
        to download the gzipped tarball.
      tags:
        - packages
      parameters:
        - *a1
        - *a2
      responses:
        "302":
          description: Redirect to a 5-minute presigned S3 URL
          headers:
            Location:
              schema:
                type: string
                format: uri
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/packages/{name}/versions:
    post:
      operationId: postV0PackagesByNameVersions
      summary: Publish a new version
      description: "POST a gzipped tarball with `facet.json` at its root. The registry
        validates the manifest, computes a sha256, stores at a content-addressed
        S3 key, and writes a version row + LATEST pointer. URL `name` MUST equal
        manifest `name`. Re-publishing an existing `name@version` returns 409
        with `code: E_VERSION_EXISTS`. Body is capped at 5 MB."
      tags:
        - packages
      security:
        - ApiKeyAuth: []
      parameters:
        - *a1
      requestBody:
        required: true
        content:
          application/gzip:
            schema:
              type: string
              format: binary
      responses:
        "201":
          description: Version published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishResponse"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: Version already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "413":
          description: Tarball exceeds 5 MB
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "422":
          description: Tarball corrupt, manifest invalid, or URL/manifest name mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
