# Generated by: bun run codegen:registry
# Source: https://api.agentfacets.io/v0/openapi.yaml
# Generated-At: 2026-07-20T14:06:08.660Z
# Do not edit by hand. Run `bun run codegen:registry` from packages/engine to refresh.
openapi: 3.1.0
info:
  title: Agent Facets Registry API (V0)
  description: Auto-generated from describeRoute() annotations on each route
    handler. The route definitions are the single source of truth.
  version: 0.1.0
servers:
  - url: https://api.agentfacets.io
    description: Production
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or fct_pub_* PAT
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          const: ok
        version:
          type: string
      required:
        - status
        - version
    AssetCounts:
      type: object
      properties:
        agents:
          type: number
        commands:
          type: number
        servers:
          type: number
        skills:
          type: number
      required:
        - agents
        - commands
        - servers
        - skills
    FacetSummary:
      type: object
      properties:
        asset_counts:
          $ref: "#/components/schemas/AssetCounts"
        latest_version:
          type: string
        name:
          type: string
        owner:
          anyOf:
            - type: object
              properties:
                kind:
                  const: org
                slug:
                  type: string
              required:
                - kind
                - slug
            - type: object
              properties:
                kind:
                  const: user
                username:
                  type: string
              required:
                - kind
                - username
        published_at:
          type: string
        publisher:
          type: string
        visibility:
          enum:
            - private
            - public
        author:
          type: string
        description:
          type: string
      required:
        - asset_counts
        - latest_version
        - name
        - owner
        - published_at
        - publisher
        - visibility
    SearchResponse:
      type: object
      properties:
        facets:
          type: array
          items:
            $ref: "#/components/schemas/FacetSummary"
        next_cursor:
          type: string
      required:
        - facets
    PublicFacetCountResponse:
      type: object
      properties:
        count:
          type: number
      required:
        - count
    LatestVersionResponse:
      type: object
      properties:
        latest:
          type: string
        name:
          type: string
      required:
        - latest
        - name
    ApiErrorBody:
      type: object
      properties:
        code:
          enum:
            - E_ACCOUNT_SUSPENDED
            - E_ADMIN_REQUIRED
            - E_ALREADY_MEMBER
            - E_ALREADY_ONBOARDED
            - E_API_KEY_MISSING
            - E_ARCHIVE_DECOMPRESSED_TOO_LARGE
            - E_ARCHIVE_MALFORMED
            - E_CLAIM_ALREADY_PENDING
            - E_CLAIM_PENDING_ELSEWHERE
            - E_CONTENT_INTEGRITY_MISMATCH
            - E_CONTROL_CONCURRENT_MODIFICATION
            - E_CONTROL_INVALID_TARGET
            - E_CONTROL_INVALID_VALUE
            - E_CONTROL_MANAGEMENT_IMMUTABLE
            - E_CONTROL_NOT_FOUND
            - E_CONTROL_RULE_NOT_FOUND
            - E_DRY_RUN_REQUIRED
            - E_FACET_NOT_FOUND
            - E_FACET_NOT_OWNED
            - E_FORBIDDEN
            - E_GLOBAL_FACET_MUST_BE_PUBLIC
            - E_IMPERSONATION_FORBIDDEN
            - E_INTERACTIVE_SESSION_REQUIRED
            - E_INTERNAL
            - E_INVALID_CURSOR
            - E_INVALID_NAME
            - E_INVALID_VERSION
            - E_INVITATION_NOT_FOUND
            - E_LOGOUT_REQUIRES_JWT
            - E_MANIFEST_CONTENT_MISMATCH
            - E_MEMBER_NOT_FOUND
            - E_MIGRATION_ALREADY_COMPLETED
            - E_MIGRATION_BATCH_NOT_FOUND
            - E_MIGRATION_BATCH_RUNNING
            - E_MIGRATION_DEPENDENCY_UNMET
            - E_MIGRATION_NOT_FOUND
            - E_MIGRATION_RUNNING
            - E_NAME_BLOCKED
            - E_ONBOARDING_REQUIRED
            - E_ORG_FORBIDDEN
            - E_ORG_LAST_ADMIN
            - E_ORG_NAME_RESERVED
            - E_ORG_NAME_TAKEN
            - E_ORG_NOT_FOUND
            - E_PREFIX_COLLISION_RETRY_EXHAUSTED
            - E_PRIVATE_FACET_ENTITLEMENT_REQUIRED
            - E_PROFILE_CORRUPT
            - E_QUEUE_FULL
            - E_QUEUE_ITEM_NOT_FOUND
            - E_QUEUE_ITEM_NOT_PENDING
            - E_READ_ONLY
            - E_REGISTRY_UNAVAILABLE
            - E_RESERVATION_EXISTS
            - E_RESERVATION_NOT_FOUND
            - E_REVIEW_ARTIFACT_MISSING
            - E_RUN_NOT_FOUND
            - E_SCOPE_NOT_FOUND
            - E_SCOPE_NOT_OWNED
            - E_TARBALL_CORRUPTED
            - E_TARBALL_TOO_LARGE
            - E_TOKEN_EXPIRED
            - E_TOKEN_NOT_FOUND
            - E_TOKEN_REVOKED
            - E_UNAUTHENTICATED
            - E_UNDECLARED_CONTENT
            - E_USERNAME_TAKEN
            - E_USER_NOT_FOUND
            - E_VERSION_EXISTS
            - E_WRITE_BANNED
        docs_url:
          type: string
        error:
          type: string
        fix:
          type: string
      required:
        - code
        - docs_url
        - error
        - fix
    VersionListResponse:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        versions:
          type: array
          items:
            type: string
      required:
        - name
        - version
        - versions
    VersionMetadata:
      type: object
      properties:
        asset_counts:
          $ref: "#/components/schemas/AssetCounts"
        content_hash:
          type: string
        content_integrity:
          type: string
        manifest_json:
          type: string
        name:
          type: string
        owner:
          anyOf:
            - type: object
              properties:
                kind:
                  const: org
                slug:
                  type: string
              required:
                - kind
                - slug
            - type: object
              properties:
                kind:
                  const: user
                username:
                  type: string
              required:
                - kind
                - username
        published_at:
          type: string
        publisher:
          type: string
        size_bytes:
          type: number
        version:
          type: string
        visibility:
          enum:
            - private
            - public
        author:
          type: string
        description:
          type: string
      required:
        - asset_counts
        - content_hash
        - content_integrity
        - manifest_json
        - name
        - owner
        - published_at
        - publisher
        - size_bytes
        - version
        - visibility
    ContentsResponse:
      type: object
      properties:
        content_integrity:
          type: string
        name:
          type: string
        resources:
          type: object
          additionalProperties:
            type: string
        version:
          type: string
      required:
        - content_integrity
        - name
        - resources
        - version
    ScopeRootResponse:
      type: object
      properties:
        created_at:
          type: string
        facets:
          type: array
          items:
            $ref: "#/components/schemas/FacetSummary"
        name:
          type: string
        owner:
          anyOf:
            - type: object
              properties:
                kind:
                  const: org
                slug:
                  type: string
              required:
                - kind
                - slug
            - type: object
              properties:
                kind:
                  const: user
                username:
                  type: string
              required:
                - kind
                - username
      required:
        - created_at
        - facets
        - name
        - owner
    PublishResponse:
      type: object
      properties:
        content_hash:
          type: string
        name:
          type: string
        version:
          type: string
      required:
        - content_hash
        - name
        - version
    QueuedForReviewBody:
      type: object
      properties:
        docs_url:
          type: string
        fix:
          type: string
        reason:
          enum:
            - pending
            - rate-limit
            - reserved
        status:
          const: QUEUED_FOR_REVIEW
      required:
        - docs_url
        - fix
        - reason
        - status
    AuthMeResponse:
      type: object
      properties:
        email:
          type: string
        suspended:
          type: boolean
        tier:
          enum:
            - admin
            - enterprise
            - free
            - pro
        user_uuid:
          type: string
        username:
          type: string
      required:
        - email
        - suspended
        - tier
        - user_uuid
        - username
    MintTokenResponse:
      type: object
      properties:
        expires_at:
          type: string
        plaintext_token:
          type: string
        prefix:
          type: string
        scopes:
          type: array
          items:
            type: string
      required:
        - expires_at
        - plaintext_token
        - prefix
        - scopes
    ListTokensResponse:
      type: object
      properties:
        tokens:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              expires_at:
                type: string
              name:
                type: string
              prefix:
                type: string
              scopes:
                type: array
                items:
                  type: string
              last_used_at:
                type: string
              revoked_at:
                type: string
            required:
              - created_at
              - expires_at
              - name
              - prefix
              - scopes
      required:
        - tokens
    AdminOverviewResponse:
      type: object
      properties:
        analytics:
          type: object
          properties:
            resync_pending:
              type: boolean
          required:
            - resync_pending
        control_count:
          type: number
        events:
          type: object
          properties:
            dead_lettered:
              type: number
            unhealthy_consumers:
              type: number
          required:
            - dead_lettered
            - unhealthy_consumers
        migrations_pending:
          type: number
        read_only_mode:
          type: boolean
        review_pending:
          type: number
        search:
          type: object
          properties:
            missing:
              type: number
            red:
              type: number
            yellow:
              type: number
          required:
            - missing
            - red
            - yellow
      required:
        - analytics
        - control_count
        - events
        - migrations_pending
        - read_only_mode
        - review_pending
        - search
    MigrationListResponse:
      type: object
      properties:
        migrations:
          type: array
          items:
            type: object
            properties:
              available:
                type: boolean
              description:
                type: string
              id:
                type: string
              kind:
                enum:
                  - once
                  - rerunnable
              latest_run:
                type: object
                properties:
                  actor_username:
                    type: string
                  created:
                    type: number
                  deleted:
                    type: number
                  dry_run:
                    type: boolean
                  effected:
                    type: number
                  expected:
                    type: number
                  failed:
                    type: number
                  migration_id:
                    type: string
                  repaired:
                    type: number
                  run_id:
                    type: string
                  scanned:
                    type: number
                  skipped:
                    type: number
                  started_at:
                    type: string
                  status:
                    enum:
                      - failed
                      - running
                      - succeeded
                  error:
                    type: string
                  finished_at:
                    type: string
                required:
                  - actor_username
                  - created
                  - deleted
                  - dry_run
                  - effected
                  - expected
                  - failed
                  - migration_id
                  - repaired
                  - run_id
                  - scanned
                  - skipped
                  - started_at
                  - status
              unmet_dependencies:
                type: array
                items:
                  type: string
            required:
              - available
              - description
              - id
              - kind
        latest_batch:
          type: object
          properties:
            actor_username:
              type: string
            batch_id:
              type: string
            completed_migration_ids:
              type: array
              items:
                type: string
            started_at:
              type: string
            status:
              enum:
                - failed
                - running
                - succeeded
            total_pending:
              type: number
            current:
              type: object
              properties:
                migration_id:
                  type: string
                phase:
                  enum:
                    - dry_run
                    - real_run
                run_id:
                  type: string
              required:
                - migration_id
                - phase
            failed:
              type: object
              properties:
                phase:
                  enum:
                    - dry_run
                    - real_run
                error:
                  type: string
                migration_id:
                  type: string
                run_id:
                  type: string
              required:
                - phase
            finished_at:
              type: string
          required:
            - actor_username
            - batch_id
            - completed_migration_ids
            - started_at
            - status
            - total_pending
      required:
        - migrations
    MigrationRunListResponse:
      type: object
      properties:
        runs:
          type: array
          items:
            type: object
            properties:
              actor_username:
                type: string
              created:
                type: number
              deleted:
                type: number
              dry_run:
                type: boolean
              effected:
                type: number
              expected:
                type: number
              failed:
                type: number
              migration_id:
                type: string
              repaired:
                type: number
              run_id:
                type: string
              scanned:
                type: number
              skipped:
                type: number
              started_at:
                type: string
              status:
                enum:
                  - failed
                  - running
                  - succeeded
              error:
                type: string
              finished_at:
                type: string
            required:
              - actor_username
              - created
              - deleted
              - dry_run
              - effected
              - expected
              - failed
              - migration_id
              - repaired
              - run_id
              - scanned
              - skipped
              - started_at
              - status
      required:
        - runs
    MigrationBatchResponse:
      type: object
      properties:
        actor_username:
          type: string
        batch_id:
          type: string
        completed_migration_ids:
          type: array
          items:
            type: string
        started_at:
          type: string
        status:
          enum:
            - failed
            - running
            - succeeded
        total_pending:
          type: number
        current:
          type: object
          properties:
            migration_id:
              type: string
            phase:
              enum:
                - dry_run
                - real_run
            run_id:
              type: string
          required:
            - migration_id
            - phase
        failed:
          type: object
          properties:
            phase:
              enum:
                - dry_run
                - real_run
            error:
              type: string
            migration_id:
              type: string
            run_id:
              type: string
          required:
            - phase
        finished_at:
          type: string
      required:
        - actor_username
        - batch_id
        - completed_migration_ids
        - started_at
        - status
        - total_pending
    MigrationRunResponse:
      type: object
      properties:
        actor_username:
          type: string
        created:
          type: number
        deleted:
          type: number
        dry_run:
          type: boolean
        effected:
          type: number
        expected:
          type: number
        failed:
          type: number
        failures:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
              row_key:
                type: string
            required:
              - reason
              - row_key
        migration_id:
          type: string
        repaired:
          type: number
        run_id:
          type: string
        scanned:
          type: number
        skipped:
          type: number
        started_at:
          type: string
        status:
          enum:
            - failed
            - running
            - succeeded
        error:
          type: string
        finished_at:
          type: string
      required:
        - actor_username
        - created
        - deleted
        - dry_run
        - effected
        - expected
        - failed
        - failures
        - migration_id
        - repaired
        - run_id
        - scanned
        - skipped
        - started_at
        - status
    ReservationListResponse:
      type: object
      properties:
        reservations:
          type: array
          items:
            type: object
            properties:
              added_at:
                type: string
              added_by_user_id:
                type: string
              name:
                type: string
              pool:
                enum:
                  - global
                  - scope
              reason:
                type: string
            required:
              - added_at
              - added_by_user_id
              - name
              - pool
      required:
        - reservations
    AdminQueueListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              id:
                type: string
              queue_type:
                enum:
                  - global-facet
                  - org-claim
              reason:
                enum:
                  - pending
                  - rate-limit
                  - reserved
              status:
                enum:
                  - approved
                  - pending
                  - rejected
                  - superseded
                  - withdrawn
              target:
                type: string
              tier:
                enum:
                  - enterprise
                  - free
                  - pro
              user_uuid:
                type: string
              username:
                type: string
              decided_at:
                type: string
              decided_by:
                type: string
              decision_reason:
                type: string
              justification:
                type: string
              requested_display_name:
                type: string
              requested_slug:
                type: string
            required:
              - created_at
              - id
              - queue_type
              - reason
              - status
              - target
              - tier
              - user_uuid
              - username
      required:
        - items
    ValidationErrorBody:
      type: object
      properties:
        data: {}
        error:
          type: array
        success:
          const: false
      required:
        - data
        - error
        - success
    AdminUserListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              suspended:
                type: boolean
              tier:
                enum:
                  - admin
                  - enterprise
                  - free
                  - pro
              user_id:
                type: string
              username:
                type: string
            required:
              - email
              - suspended
              - tier
              - user_id
              - username
      required:
        - users
    StartImpersonationResponse:
      type: object
      properties:
        target:
          type: object
          properties:
            user_id:
              type: string
            username:
              type: string
          required:
            - user_id
            - username
      required:
        - target
    AdminOrgListResponse:
      type: object
      properties:
        organizations:
          type: array
          items:
            type: object
            properties:
              display_name:
                type: string
              org_id:
                type: string
              slug:
                type: string
            required:
              - display_name
              - org_id
              - slug
      required:
        - organizations
    EventDeliveryHealthResponse:
      type: object
      properties:
        consumers:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  analytics_lag:
                    type: object
                    properties:
                      capture_dead_letter_count:
                        anyOf:
                          - type: number
                          - type: "null"
                      flush_running:
                        type: boolean
                      has_more:
                        type: boolean
                      last_loaded_key:
                        anyOf:
                          - type: string
                          - type: "null"
                      last_run_at:
                        anyOf:
                          - type: string
                          - type: "null"
                      open_pending_at_least:
                        type: number
                      resync_pending:
                        type: boolean
                      sealed_unflushed_at_least:
                        type: number
                    required:
                      - capture_dead_letter_count
                      - flush_running
                      - has_more
                      - last_loaded_key
                      - last_run_at
                      - open_pending_at_least
                      - resync_pending
                      - sealed_unflushed_at_least
                  capture_dlq_depth:
                    anyOf:
                      - type: number
                      - type: "null"
                  consumer:
                    const: analytics
                required:
                  - analytics_lag
                  - capture_dlq_depth
                  - consumer
              - type: object
                properties:
                  apply_dlq_depth:
                    type: number
                  consumer:
                    const: search-indexer
                  delivery_dlq_depth:
                    anyOf:
                      - type: number
                      - type: "null"
                required:
                  - apply_dlq_depth
                  - consumer
                  - delivery_dlq_depth
              - type: object
                properties:
                  consumer:
                    const: public-facet-count
                  delivery_dlq_depth:
                    anyOf:
                      - type: number
                      - type: "null"
                required:
                  - consumer
                  - delivery_dlq_depth
        dead_lettered_count:
          type: number
        dead_letters:
          type: array
          items:
            type: object
            properties:
              attempt_count:
                type: number
              event_id:
                type: string
              event_type:
                type: string
              failed_at:
                type: string
              occurred_at:
                type: string
              producer:
                type: string
              subject:
                type: string
              subject_sequence:
                type: number
              last_error:
                type: string
            required:
              - attempt_count
              - event_id
              - event_type
              - failed_at
              - occurred_at
              - producer
              - subject
              - subject_sequence
        oldest_pending_age_ms:
          anyOf:
            - type: number
            - type: "null"
        pending_count:
          type: number
      required:
        - consumers
        - dead_lettered_count
        - dead_letters
        - oldest_pending_age_ms
        - pending_count
    SearchBackfillResponse:
      type: object
      properties:
        index_prefix:
          type: string
        subjects:
          type: array
          items:
            type: object
            properties:
              count_parity:
                type: boolean
              errors:
                type: array
                items:
                  type: string
              index_count:
                type: number
              indexed:
                type: number
              scanned:
                type: number
              subject:
                type: string
            required:
              - count_parity
              - errors
              - index_count
              - indexed
              - scanned
              - subject
        error:
          type: string
      required:
        - index_prefix
        - subjects
    SearchReplayResponse:
      type: object
      properties:
        failed:
          type: number
        replayed:
          type: number
        results:
          type: array
          items:
            type: object
            properties:
              event_id:
                type: string
              outcome:
                enum:
                  - failed
                  - lane-absent
                  - meta-absent
                  - stale-skipped
                  - subject-absent
                  - upserted
              error:
                type: string
            required:
              - event_id
              - outcome
      required:
        - failed
        - replayed
        - results
    SearchVerifyResponse:
      type: object
      properties:
        index_prefix:
          type: string
        subjects:
          type: array
          items:
            type: object
            properties:
              matched:
                type: number
              mismatches:
                type: array
                items:
                  type: object
                  properties:
                    diverged_fields:
                      type: array
                      items:
                        type: string
                    id:
                      type: string
                  required:
                    - diverged_fields
                    - id
              missing:
                type: array
                items:
                  type: string
              sampled:
                type: number
              subject:
                type: string
            required:
              - matched
              - mismatches
              - missing
              - sampled
              - subject
        error:
          type: string
      required:
        - index_prefix
        - subjects
    SearchIndexListResponse:
      type: object
      properties:
        index_prefix:
          type: string
        indexes:
          type: array
          items:
            type: object
            properties:
              degraded_reason:
                anyOf:
                  - type: string
                  - type: "null"
              docs:
                type: number
              health:
                enum:
                  - green
                  - red
                  - yellow
              last_backfilled:
                anyOf:
                  - type: string
                  - type: "null"
              last_verified:
                anyOf:
                  - type: string
                  - type: "null"
              name:
                type: string
            required:
              - degraded_reason
              - docs
              - health
              - last_backfilled
              - last_verified
              - name
      required:
        - index_prefix
        - indexes
    SearchTeardownResponse:
      type: object
      properties:
        index_prefix:
          type: string
        indexes:
          type: object
          additionalProperties:
            type: object
            properties:
              existed:
                type: boolean
            required:
              - existed
      required:
        - index_prefix
        - indexes
    SystemControlListResponse:
      type: object
      properties:
        controls:
          type: array
          items:
            type: object
            properties:
              definition:
                anyOf:
                  - type: object
                    properties:
                      allowed_values:
                        type: array
                        items:
                          type: string
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: string
                      key:
                        type: string
                      kind:
                        const: string-enum
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - allowed_values
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: number
                      key:
                        type: string
                      kind:
                        const: number
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      number_type:
                        enum:
                          - decimal
                          - integer
                      purpose:
                        enum:
                          - application
                          - system
                      max:
                        type: number
                      max_precision:
                        type: number
                      min:
                        type: number
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - number_type
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: boolean
                      key:
                        type: string
                      kind:
                        const: boolean
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
              resolution:
                type: object
                properties:
                  control_key:
                    type: string
                  source:
                    enum:
                      - code-fallback
                      - organization
                      - organization_role
                      - organization_tier
                      - system
                      - user
                      - user_tier
                  value:
                    anyOf:
                      - type: number
                      - type: string
                      - type: boolean
                  fallback_reason:
                    enum:
                      - no-configured-rule
                      - runtime-state-unavailable
                required:
                  - control_key
                  - source
                  - value
              rule:
                type: object
                properties:
                  target:
                    anyOf:
                      - type: object
                        properties:
                          kind:
                            const: organization
                          org_id:
                            type: string
                        required:
                          - kind
                          - org_id
                      - type: object
                        properties:
                          kind:
                            const: organization_role
                          org_id:
                            type: string
                          org_role:
                            enum:
                              - admin
                              - publisher
                              - viewer
                        required:
                          - kind
                          - org_id
                          - org_role
                      - type: object
                        properties:
                          kind:
                            const: organization_tier
                          organization_tier:
                            enum:
                              - enterprise
                              - free
                              - pro
                        required:
                          - kind
                          - organization_tier
                      - type: object
                        properties:
                          kind:
                            const: system
                        required:
                          - kind
                      - type: object
                        properties:
                          kind:
                            const: user
                          user_id:
                            type: string
                        required:
                          - kind
                          - user_id
                      - type: object
                        properties:
                          kind:
                            const: user_tier
                          user_tier:
                            enum:
                              - admin
                              - enterprise
                              - free
                              - pro
                        required:
                          - kind
                          - user_tier
                  updated_at:
                    type: string
                  updated_by_user_id:
                    type: string
                  value:
                    anyOf:
                      - type: object
                        properties:
                          kind:
                            const: boolean
                          value:
                            type: boolean
                        required:
                          - kind
                          - value
                      - type: object
                        properties:
                          kind:
                            const: number
                          value:
                            type: number
                        required:
                          - kind
                          - value
                      - type: object
                        properties:
                          kind:
                            const: string-enum
                          value:
                            type: string
                        required:
                          - kind
                          - value
                  reason:
                    type: string
                  target_org_slug:
                    type: string
                  target_username:
                    type: string
                  updated_by_username:
                    type: string
                required:
                  - target
                  - updated_at
                  - updated_by_user_id
                  - value
            required:
              - definition
              - resolution
      required:
        - controls
    ControlAuditResponse:
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            properties:
              action:
                enum:
                  - rule_created
                  - rule_removed
                  - value_changed
              actor_user_id:
                type: string
              control_key:
                type: string
              occurred_at:
                type: string
              target:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: organization
                      org_id:
                        type: string
                    required:
                      - kind
                      - org_id
                  - type: object
                    properties:
                      kind:
                        const: organization_role
                      org_id:
                        type: string
                      org_role:
                        enum:
                          - admin
                          - publisher
                          - viewer
                    required:
                      - kind
                      - org_id
                      - org_role
                  - type: object
                    properties:
                      kind:
                        const: organization_tier
                      organization_tier:
                        enum:
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - organization_tier
                  - type: object
                    properties:
                      kind:
                        const: system
                    required:
                      - kind
                  - type: object
                    properties:
                      kind:
                        const: user
                      user_id:
                        type: string
                    required:
                      - kind
                      - user_id
                  - type: object
                    properties:
                      kind:
                        const: user_tier
                      user_tier:
                        enum:
                          - admin
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - user_tier
              actor_username:
                type: string
              batch_id:
                type: string
              new_value:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: boolean
                      value:
                        type: boolean
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: number
                      value:
                        type: number
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: string-enum
                      value:
                        type: string
                    required:
                      - kind
                      - value
              previous_value:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: boolean
                      value:
                        type: boolean
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: number
                      value:
                        type: number
                    required:
                      - kind
                      - value
                  - type: object
                    properties:
                      kind:
                        const: string-enum
                      value:
                        type: string
                    required:
                      - kind
                      - value
              reason:
                type: string
              target_org_slug:
                type: string
              target_username:
                type: string
            required:
              - action
              - actor_user_id
              - control_key
              - occurred_at
              - target
      required:
        - events
    ApplicationControlListResponse:
      type: object
      properties:
        controls:
          type: array
          items:
            type: object
            properties:
              definition:
                anyOf:
                  - type: object
                    properties:
                      allowed_values:
                        type: array
                        items:
                          type: string
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: string
                      key:
                        type: string
                      kind:
                        const: string-enum
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - allowed_values
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: number
                      key:
                        type: string
                      kind:
                        const: number
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      number_type:
                        enum:
                          - decimal
                          - integer
                      purpose:
                        enum:
                          - application
                          - system
                      max:
                        type: number
                      max_precision:
                        type: number
                      min:
                        type: number
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - number_type
                      - purpose
                  - type: object
                    properties:
                      description:
                        type: string
                      display_name:
                        type: string
                      domain:
                        type: string
                      expired:
                        type: boolean
                      fallback:
                        type: boolean
                      key:
                        type: string
                      kind:
                        const: boolean
                      lifecycle:
                        type: object
                        properties:
                          kind:
                            enum:
                              - permanent
                              - temporary
                          expires_at:
                            type: string
                        required:
                          - kind
                      management:
                        enum:
                          - admin
                          - none
                      purpose:
                        enum:
                          - application
                          - system
                    required:
                      - description
                      - display_name
                      - domain
                      - expired
                      - fallback
                      - key
                      - kind
                      - lifecycle
                      - management
                      - purpose
              rules:
                type: array
                items:
                  type: object
                  properties:
                    target:
                      anyOf:
                        - type: object
                          properties:
                            kind:
                              const: organization
                            org_id:
                              type: string
                          required:
                            - kind
                            - org_id
                        - type: object
                          properties:
                            kind:
                              const: organization_role
                            org_id:
                              type: string
                            org_role:
                              enum:
                                - admin
                                - publisher
                                - viewer
                          required:
                            - kind
                            - org_id
                            - org_role
                        - type: object
                          properties:
                            kind:
                              const: organization_tier
                            organization_tier:
                              enum:
                                - enterprise
                                - free
                                - pro
                          required:
                            - kind
                            - organization_tier
                        - type: object
                          properties:
                            kind:
                              const: system
                          required:
                            - kind
                        - type: object
                          properties:
                            kind:
                              const: user
                            user_id:
                              type: string
                          required:
                            - kind
                            - user_id
                        - type: object
                          properties:
                            kind:
                              const: user_tier
                            user_tier:
                              enum:
                                - admin
                                - enterprise
                                - free
                                - pro
                          required:
                            - kind
                            - user_tier
                    updated_at:
                      type: string
                    updated_by_user_id:
                      type: string
                    value:
                      anyOf:
                        - type: object
                          properties:
                            kind:
                              const: boolean
                            value:
                              type: boolean
                          required:
                            - kind
                            - value
                        - type: object
                          properties:
                            kind:
                              const: number
                            value:
                              type: number
                          required:
                            - kind
                            - value
                        - type: object
                          properties:
                            kind:
                              const: string-enum
                            value:
                              type: string
                          required:
                            - kind
                            - value
                    reason:
                      type: string
                    target_org_slug:
                      type: string
                    target_username:
                      type: string
                    updated_by_username:
                      type: string
                  required:
                    - target
                    - updated_at
                    - updated_by_user_id
                    - value
            required:
              - definition
              - rules
      required:
        - controls
    BulkTierRuleResponse:
      type: object
      properties:
        batch_id:
          type: string
        outcomes:
          type: array
          items:
            type: object
            properties:
              result:
                enum:
                  - concurrent-modification
                  - created
                  - rejected
                  - updated
              target:
                anyOf:
                  - type: object
                    properties:
                      kind:
                        const: organization
                      org_id:
                        type: string
                    required:
                      - kind
                      - org_id
                  - type: object
                    properties:
                      kind:
                        const: organization_role
                      org_id:
                        type: string
                      org_role:
                        enum:
                          - admin
                          - publisher
                          - viewer
                    required:
                      - kind
                      - org_id
                      - org_role
                  - type: object
                    properties:
                      kind:
                        const: organization_tier
                      organization_tier:
                        enum:
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - organization_tier
                  - type: object
                    properties:
                      kind:
                        const: system
                    required:
                      - kind
                  - type: object
                    properties:
                      kind:
                        const: user
                      user_id:
                        type: string
                    required:
                      - kind
                      - user_id
                  - type: object
                    properties:
                      kind:
                        const: user_tier
                      user_tier:
                        enum:
                          - admin
                          - enterprise
                          - free
                          - pro
                    required:
                      - kind
                      - user_tier
              detail:
                type: string
            required:
              - result
              - target
      required:
        - batch_id
        - outcomes
    ControlInspectionResponse:
      type: object
      properties:
        resolution:
          type: object
          properties:
            control_key:
              type: string
            source:
              enum:
                - code-fallback
                - organization
                - organization_role
                - organization_tier
                - system
                - user
                - user_tier
            value:
              anyOf:
                - type: number
                - type: string
                - type: boolean
            fallback_reason:
              enum:
                - no-configured-rule
                - runtime-state-unavailable
          required:
            - control_key
            - source
            - value
        trace:
          type: array
          items:
            type: object
            properties:
              outcome:
                enum:
                  - applied
                  - invalid-control
                  - no-control
                  - shadowed
              source:
                enum:
                  - organization
                  - organization_role
                  - organization_tier
                  - system
                  - user
                  - user_tier
              detail:
                type: string
            required:
              - outcome
              - source
        org_contexts:
          type: array
          items:
            type: object
            properties:
              org_display_name:
                type: string
              org_id:
                type: string
              org_role:
                enum:
                  - admin
                  - publisher
                  - viewer
              org_slug:
                type: string
              resolution:
                type: object
                properties:
                  control_key:
                    type: string
                  source:
                    enum:
                      - code-fallback
                      - organization
                      - organization_role
                      - organization_tier
                      - system
                      - user
                      - user_tier
                  value:
                    anyOf:
                      - type: number
                      - type: string
                      - type: boolean
                  fallback_reason:
                    enum:
                      - no-configured-rule
                      - runtime-state-unavailable
                required:
                  - control_key
                  - source
                  - value
              trace:
                type: array
                items:
                  type: object
                  properties:
                    outcome:
                      enum:
                        - applied
                        - invalid-control
                        - no-control
                        - shadowed
                    source:
                      enum:
                        - organization
                        - organization_role
                        - organization_tier
                        - system
                        - user
                        - user_tier
                    detail:
                      type: string
                  required:
                    - outcome
                    - source
            required:
              - org_display_name
              - org_id
              - org_role
              - org_slug
              - resolution
              - trace
      required:
        - resolution
        - trace
    ReviewQueueListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              id:
                type: string
              queue_type:
                enum:
                  - global-facet
                  - org-claim
              reason:
                enum:
                  - pending
                  - rate-limit
                  - reserved
              status:
                enum:
                  - approved
                  - pending
                  - rejected
                  - superseded
                  - withdrawn
              target:
                type: string
              decided_at:
                type: string
              decided_by:
                type: string
              decision_reason:
                type: string
              justification:
                type: string
              requested_display_name:
                type: string
              requested_slug:
                type: string
            required:
              - created_at
              - id
              - queue_type
              - reason
              - status
              - target
      required:
        - items
    OrgDetailResponse:
      type: object
      properties:
        created_at:
          type: string
        display_name:
          type: string
        slug:
          type: string
        viewer_role:
          enum:
            - admin
            - none
            - publisher
            - viewer
        description:
          type: string
        homepage_url:
          type: string
      required:
        - created_at
        - display_name
        - slug
        - viewer_role
    OrgListResponse:
      type: object
      properties:
        invitations:
          type: array
          items:
            type: object
            properties:
              display_name:
                type: string
              invited_by_user_id:
                type: string
              role:
                enum:
                  - admin
                  - publisher
                  - viewer
              slug:
                type: string
            required:
              - display_name
              - invited_by_user_id
              - role
              - slug
        organizations:
          type: array
          items:
            type: object
            properties:
              display_name:
                type: string
              role:
                enum:
                  - admin
                  - publisher
                  - viewer
              slug:
                type: string
            required:
              - display_name
              - role
              - slug
      required:
        - invitations
        - organizations
    UserSearchResponse:
      type: object
      properties:
        users:
          type: array
          items:
            type: object
            properties:
              user_id:
                type: string
              username:
                type: string
            required:
              - user_id
              - username
      required:
        - users
    OrgMemberListResponse:
      type: object
      properties:
        members:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
              role:
                enum:
                  - admin
                  - publisher
                  - viewer
              status:
                enum:
                  - active
                  - invited
              user_id:
                type: string
              username:
                type: string
            required:
              - email
              - role
              - status
              - user_id
              - username
      required:
        - members
paths:
  /v0/health:
    get:
      operationId: getV0Health
      summary: Liveness probe
      tags:
        - health
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /v0/facets:
    get:
      operationId: getV0Facets
      parameters:
        - in: query
          name: sort
          schema:
            enum:
              - name
              - recent
              - relevance
            default: relevance
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: q
          schema:
            type: string
      summary: List or search facets
      description: Searches published facets via the supported search path. Supports
        `?q=` substring matching, `?sort=` (relevance|recent|name) with
        deterministic ordering, and opaque `?cursor=` pagination. Anonymous
        callers see only public facets; authenticated callers also see private
        facets they are entitled to. The response is `no-store` and never
        reveals how many facets were hidden.
      tags:
        - facets
      responses:
        "200":
          description: A page of facet summaries with an optional continuation cursor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Invalid query parameters, or a cursor invalid for this search
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ValidationErrorBody"
                  - $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/count:
    get:
      operationId: getV0FacetsCount
      summary: Public facet count
      description: Returns the projected count of live public facets. The count is
        event-backed and eventually consistent; it is never derived from facet
        search and never reveals private facet counts.
      tags:
        - facets
      responses:
        "200":
          description: Aggregate public facet count
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicFacetCountResponse"
  /v0/facets/{scope}/{name}/latest-version:
    get:
      operationId: getV0FacetsByScopeByNameLatestVersion
      summary: Get the latest version pointer for a scoped facet
      description: Returns the current latest version string for a scoped facet.
        Short-cached.
      tags:
        - facets
      parameters:
        - &a1
          name: scope
          in: path
          required: true
          description: Scope name with the leading `@` (e.g. `@julian`).
          schema:
            type: string
            pattern: ^@[a-z][a-z0-9-]*[a-z0-9]$
        - &a2
          name: name
          in: path
          required: true
          description: Facet name within the scope (e.g. `cowsay`).
          schema:
            type: string
            pattern: ^[a-z][a-z0-9-]*[a-z0-9]$
      responses:
        "200":
          description: Latest version pointer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestVersionResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/versions/{version}:
    get:
      operationId: getV0FacetsByScopeByNameVersionsByVersion
      summary: Get the full version list for a scoped facet
      description: Returns the complete sorted version list for a scoped facet.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - &a3
          name: version
          in: path
          required: true
          description: "Semver version (e.g., `1.2.3`), `latest`, or a wildcard: `M.*`
            (highest in major), `M.N.*` (highest patch), or `*` (latest).
            Wildcards exclude pre-release versions."
          schema:
            type: string
      responses:
        "200":
          description: Full version list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionListResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/{version}:
    get:
      operationId: getV0FacetsByScopeByNameByVersion
      summary: Get metadata for a specific version of a scoped facet
      description: Returns the version metadata for a scoped facet. The version may be
        `latest`.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - *a3
      responses:
        "200":
          description: Version metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionMetadata"
        "304":
          description: Not modified (If-None-Match matched the ETag)
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/{version}/archive:
    get:
      operationId: getV0FacetsByScopeByNameByVersionArchive
      summary: Download a scoped facet version's tarball
      description: 302 redirects to a 5-minute presigned S3 URL.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - *a3
      responses:
        "302":
          description: Redirect to a 5-minute presigned S3 URL
          headers:
            Location:
              schema:
                type: string
                format: uri
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/{version}/contents:
    get:
      operationId: getV0FacetsByScopeByNameByVersionContents
      summary: Get the verified bodies of a scoped facet version's resources
      description: Returns the verified body of each skill, agent, and command in the
        scoped facet version.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - *a3
      responses:
        "200":
          description: Verified resource bodies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "304":
          description: Not modified (If-None-Match matched the ETag)
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}:
    get:
      operationId: getV0FacetsByScope
      summary: Get scope-root detail
      description: Returns a live scope by its @-prefixed name, including the
        structured owner identity and summaries of the facets published under
        that scope. Missing scopes return 404; pending organization claims are
        never exposed as live scopes.
      tags:
        - facets
      parameters:
        - *a1
      responses:
        "200":
          description: Scope-root detail with facets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScopeRootResponse"
        "404":
          description: Scope not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "422":
          description: Invalid scope name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/latest-version:
    get:
      operationId: getV0FacetsByNameLatestVersion
      summary: Get the latest version pointer for a facet
      description: Returns the caller-relative latest version string for a facet — the
        highest version the caller is authorized to read. Downstream reads key
        off the concrete version it returns.
      tags:
        - facets
      parameters:
        - &a4
          name: name
          in: path
          required: true
          description: Canonical facet name. For scoped facets use the literal-slash path
            (`/@scope/name/...`) instead of encoding the slash.
          schema:
            type: string
            pattern: ^[a-z][a-z0-9-]*[a-z0-9]$
      responses:
        "200":
          description: Latest version pointer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestVersionResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/versions/{version}:
    get:
      operationId: getV0FacetsByNameVersionsByVersion
      summary: Get the full version list for a facet
      description: "Returns the sorted list of versions the caller is authorized to
        see. Responses are `no-store`: the visible set is caller-relative, so a
        list cached for one caller must not be served to another."
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "200":
          description: Full version list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionListResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/{version}:
    get:
      operationId: getV0FacetsByNameByVersion
      summary: Get metadata for a specific version
      description: Returns the version row's metadata including the verbatim
        manifestJson string and the verified publisher username. `version` may
        be `latest`, which resolves to the highest version the caller is
        authorized to read. A concrete public version is immutable and identical
        for every caller, so it is long-cacheable; a private version is
        `no-store` because each read is authorized at request time, as is a
        `latest` resolution.
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "200":
          description: Version metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionMetadata"
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/{version}/archive:
    get:
      operationId: getV0FacetsByNameByVersionArchive
      summary: Download the version's tarball
      description: 302 redirects to a 5-minute presigned S3 URL. Follow the redirect
        to download the gzipped tarball.
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "302":
          description: Redirect to a 5-minute presigned S3 URL
          headers:
            Location:
              schema:
                type: string
                format: uri
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/{version}/contents:
    get:
      operationId: getV0FacetsByNameByVersionContents
      summary: Get the verified bodies of a version's resources
      description: Returns the verified body of each skill, agent, and command in the
        version. A concrete public version is immutable and identical for every
        caller, so it is long-cacheable; a private version is `no-store` because
        each read is authorized at request time, as is a `latest` resolution.
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "200":
          description: Verified resource bodies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/versions:
    post:
      operationId: postV0FacetsByScopeByNameVersions
      summary: Publish a new version of a scoped facet
      description: POST a gzipped tarball with `facet.json` at its root to
        `/@scope/name/versions`. The scope/facet separator MUST be a literal
        slash; `%2F` is rejected with `E_INVALID_NAME`. The caller MUST own the
        scope. The reconstructed `@scope/name` MUST equal the manifest `name`.
        Body is capped at 5 MB.
      tags:
        - facets
      security:
        - BearerAuth: []
      parameters:
        - *a1
        - *a2
      requestBody:
        required: true
        content:
          application/gzip:
            schema:
              type: string
              format: binary
      responses:
        "201": &a5
          description: Version published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishResponse"
        "202": &a6
          description: Queued for admin review (first-publish of a reserved or over-budget
            global facet)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueuedForReviewBody"
        "401": &a7
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403": &a8
          description: Account suspended, name blocked, or caller does not own the
            publishing target
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409": &a9
          description: Duplicate version, or another user has a pending claim for this name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "413": &a10
          description: Tarball exceeds 5 MB
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "422": &a11
          description: Tarball corrupt, manifest invalid, name grammar bad, or non-semver
            version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "429": &a12
          description: Per-user pending queue cap reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/versions:
    post:
      operationId: postV0FacetsByNameVersions
      summary: Publish a new version
      description: "POST a gzipped tarball with `facet.json` at its root. The registry
        validates the manifest (name grammar + semver), enforces ownership, then
        stores at a content-addressed S3 key and writes a FACET META + VERSION
        row. URL `name` MUST equal manifest `name`. Duplicate `name@version`
        returns 409 with `code: E_VERSION_EXISTS`. Body is capped at 5 MB."
      tags:
        - facets
      security:
        - BearerAuth: []
      parameters:
        - *a4
      requestBody:
        required: true
        content:
          application/gzip:
            schema:
              type: string
              format: binary
      responses:
        "201": *a5
        "202": *a6
        "401": *a7
        "403": *a8
        "409": *a9
        "413": *a10
        "422": *a11
        "429": *a12
  /v0/auth/logout:
    post:
      operationId: postV0AuthLogout
      summary: Sign out (revoke refresh token)
      description: Revokes the supplied refresh token at Cognito. Authenticated by the
        refresh_token in the request body (not by Authorization header), so the
        call succeeds even after the access token has locally expired. After
        this call, any currently-issued access token remains valid until its
        natural expiry but no new tokens can be obtained without
        re-authenticating. PAT callers (CI tokens) should use `DELETE
        /v0/auth/tokens/:prefix` instead. Suspended users receive 403
        E_ACCOUNT_SUSPENDED.
      tags:
        - auth
      responses:
        "200":
          description: Refresh token revoked
        "401":
          description: Refresh token invalid, expired, or revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended (E_ACCOUNT_SUSPENDED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/auth/me:
    get:
      operationId: getV0AuthMe
      summary: Get the authenticated user's profile
      description: "Returns the authenticated user's PROFILE projection: user_uuid,
        username, email, tier, and a boolean `suspended` derived from
        `suspended_at`. Available to suspended users (so the UI can render the
        suspension banner)."
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Profile projection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthMeResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/auth/tokens:
    post:
      operationId: postV0AuthTokens
      summary: Mint a new personal access token
      description: Returns the plaintext token EXACTLY ONCE in the `plaintext_token`
        field. The registry stores only the HMAC of the secret portion. If you
        lose the plaintext, you must mint a new token. Up to 3 prefix-collision
        retries before returning 500 E_PREFIX_COLLISION_RETRY_EXHAUSTED.
        Requires an interactive (JWT) session — PAT callers receive 403
        E_INTERACTIVE_SESSION_REQUIRED. Impersonated (admin-as-target) sessions
        receive 403 E_IMPERSONATION_FORBIDDEN — stop impersonating before
        minting.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "201":
          description: Token minted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MintTokenResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended, PAT caller (interactive session required), or
            impersonated session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "500":
          description: Prefix collision retry exhausted (transient)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
    get:
      operationId: getV0AuthTokens
      summary: List the caller's PATs
      description: Lists all (non-deleted) PATs minted by the authenticated user,
        including their revoke/expiry state.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Token list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTokensResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/auth/tokens/{prefix}:
    delete:
      operationId: deleteV0AuthTokensByPrefix
      summary: Revoke a PAT
      description: "Sets the token row's `revoked_at`. Guarded by `user_id = <self>`
        to prevent cross-user revocation. Idempotent: revoking an
        already-revoked token returns 200 (no error). Returns 404 if no such
        prefix exists for this user. Suspended users receive 403
        E_ACCOUNT_SUSPENDED."
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Token revoked (or already was)
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended (E_ACCOUNT_SUSPENDED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          description: No such token for this user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: prefix
          required: true
  /v0/auth/sign-out-everywhere:
    post:
      operationId: postV0AuthSignOutEverywhere
      summary: Sign out from all Cognito sessions
      description: Invalidates all access and refresh tokens for the caller's Cognito
        user. Subsequent requests with those tokens fail with 401. Does NOT
        revoke the caller's PATs — use `GET /v0/auth/tokens` + per-prefix DELETE
        for that. PAT callers receive 400 (PATs don't have Cognito sessions).
        Suspended users receive 403 E_ACCOUNT_SUSPENDED.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: All Cognito sessions invalidated
        "400":
          description: PAT caller (no Cognito session to invalidate)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended (E_ACCOUNT_SUSPENDED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/auth/impersonation:
    delete:
      operationId: deleteV0AuthImpersonation
      summary: Stop impersonating
      description: Stateless no-op that returns 204. Impersonation holds no server
        state; the client stops by dropping the impersonation header and stored
        target metadata.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "204":
          description: Impersonation stopped
  /v0/onboarding/username:
    post:
      operationId: postV0OnboardingUsername
      summary: Bootstrap a new registry account (claim first username)
      description: For Cognito-authenticated callers who have NOT yet been provisioned
        in the registry. Creates the USERNAME reservation, the PROFILE row, the
        COGNITO_SUB reservation, and the user’s `@<username>` scope atomically.
        Returns 409 E_USERNAME_TAKEN if the username is already claimed, 403
        E_NAME_BLOCKED if the name is reserved or blocked. Usernames are
        immutable once set; this route runs exactly once per Cognito sub.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthMeResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: The requested name is reserved or permanently blocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: Username already claimed OR this Cognito user already onboarded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "503":
          description: Verified email could not be obtained from the identity provider;
            retryable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/admin/overview:
    get:
      operationId: getV0AdminOverview
      summary: Admin overview (section/page status rollup)
      description: Raw per-page operational signals — pending review count, pending
        migrations, event-delivery health, read-only mode, control count — for
        the admin hub cards and rail/flyout status. Admin only.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Operational signal rollup
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminOverviewResponse"
  /v0/admin/migrations:
    get:
      operationId: getV0AdminMigrations
      summary: List registered migrations (admin)
      description: Returns every migration in the code registry, each with a summary
        of its most recent run (if any).
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Migration list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationListResponse"
  /v0/admin/migrations/runs:
    get:
      operationId: getV0AdminMigrationsRuns
      summary: List all migration runs across every migration (admin)
      description: Aggregates the run history of every registered migration into one
        newest-first list. Gathered by server-side fan-out over the registry
        (one query per migration).
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: All runs, newest-first
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationRunListResponse"
  /v0/admin/migrations/batches/latest-once:
    post:
      operationId: postV0AdminMigrationsBatchesLatestOnce
      summary: Start a "migrate to latest" batch (admin)
      description: Runs every pending one-time migration as a dry run followed by a
        real run, in dependency order, stopping on the first failure. Refuses to
        start if a migration or batch is already in progress.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "202":
          description: Batch accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationBatchResponse"
        "409":
          description: A migration or batch is already in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/admin/migrations/batches/{batchId}:
    get:
      operationId: getV0AdminMigrationsBatchesByBatchId
      summary: Get a migration batch (admin)
      description: "Returns a batch by id for polling: status, progress, and
        references to the current/failed run."
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Batch status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationBatchResponse"
        "404":
          description: No such batch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: batchId
          required: true
  /v0/admin/migrations/batches/{batchId}/cancel:
    post:
      operationId: postV0AdminMigrationsBatchesByBatchIdCancel
      summary: Cancel a running migration batch (admin)
      description: Marks the batch failed (cancelled), stops the orchestrator
        execution (live stages), and force-releases the global migration lease
        so a stopped run does not block migrations until its lease expires. A
        non-running batch returns its current state unchanged.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Batch cancelled (or already terminal)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationBatchResponse"
        "404":
          description: No such batch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: batchId
          required: true
  /v0/admin/migrations/{id}/runs:
    post:
      operationId: postV0AdminMigrationsByIdRuns
      summary: Trigger a migration run (admin)
      description: Acquires the per-migration single-run lease, then starts the Step
        Functions execution. Pass dry_run=true to scan + count without writing.
        A real run (dry_run=false) requires the most recent run to be a
        succeeded dry run. Returns 404 if the id is unregistered, 409 if a run
        is already in progress or no succeeded dry run precedes a real run.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "202":
          description: Run accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationRunResponse"
        "404":
          description: No such migration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: A run is already in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
    get:
      operationId: getV0AdminMigrationsByIdRuns
      summary: List a migration’s runs (admin)
      description: Returns the run history for one migration, newest first.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Run history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationRunListResponse"
        "404":
          description: No such migration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
[...]
