# Generated by: bun run codegen:registry
# Source: https://api.facet.cafe/v0/openapi.yaml
# Generated-At: 2026-06-15T03:29:38.004Z
# Do not edit by hand. Run `bun run codegen:registry` from packages/engine to refresh.
openapi: 3.1.0
info:
  title: Facet Cafe Registry API (V0)
  description: Auto-generated from describeRoute() annotations on each route
    handler. The route definitions are the single source of truth.
  version: 0.1.0
servers:
  - url: https://api.facet.cafe
    description: Production
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or fct_pub_* PAT
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          const: ok
        version:
          type: string
      required:
        - status
        - version
    AssetCounts:
      type: object
      properties:
        agents:
          type: number
        commands:
          type: number
        servers:
          type: number
        skills:
          type: number
      required:
        - agents
        - commands
        - servers
        - skills
    FacetSummary:
      type: object
      properties:
        asset_counts:
          $ref: "#/components/schemas/AssetCounts"
        latest_version:
          type: string
        name:
          type: string
        published_at:
          type: string
        publisher:
          type: string
        author:
          type: string
        description:
          type: string
      required:
        - asset_counts
        - latest_version
        - name
        - published_at
        - publisher
    SearchResponse:
      type: object
      properties:
        facets:
          type: array
          items:
            $ref: "#/components/schemas/FacetSummary"
      required:
        - facets
    LatestVersionResponse:
      type: object
      properties:
        latest:
          type: string
        name:
          type: string
      required:
        - latest
        - name
    ApiErrorBody:
      type: object
      properties:
        code:
          enum:
            - E_ACCOUNT_SUSPENDED
            - E_ADMIN_REQUIRED
            - E_ALREADY_ONBOARDED
            - E_API_KEY_MISSING
            - E_ARCHIVE_DECOMPRESSED_TOO_LARGE
            - E_ARCHIVE_MALFORMED
            - E_CLAIM_ALREADY_PENDING
            - E_CLAIM_PENDING_ELSEWHERE
            - E_CONTENT_INTEGRITY_MISMATCH
            - E_DRY_RUN_REQUIRED
            - E_FACET_NOT_FOUND
            - E_FACET_NOT_OWNED
            - E_INTERACTIVE_SESSION_REQUIRED
            - E_INVALID_NAME
            - E_INVALID_VERSION
            - E_LOGOUT_REQUIRES_JWT
            - E_MANIFEST_CONTENT_MISMATCH
            - E_MIGRATION_ALREADY_COMPLETED
            - E_MIGRATION_DEPENDENCY_UNMET
            - E_MIGRATION_NOT_FOUND
            - E_MIGRATION_RUNNING
            - E_NAME_BLOCKED
            - E_ONBOARDING_REQUIRED
            - E_PREFIX_COLLISION_RETRY_EXHAUSTED
            - E_PROFILE_CORRUPT
            - E_QUEUE_FULL
            - E_QUEUE_ITEM_NOT_FOUND
            - E_QUEUE_ITEM_NOT_PENDING
            - E_REGISTRY_UNAVAILABLE
            - E_RESERVATION_EXISTS
            - E_RESERVATION_NOT_FOUND
            - E_REVIEW_ARTIFACT_MISSING
            - E_RUN_NOT_FOUND
            - E_SCOPE_NOT_FOUND
            - E_SCOPE_NOT_OWNED
            - E_TARBALL_CORRUPTED
            - E_TARBALL_TOO_LARGE
            - E_TOKEN_EXPIRED
            - E_TOKEN_NOT_FOUND
            - E_TOKEN_REVOKED
            - E_UNAUTHENTICATED
            - E_UNDECLARED_CONTENT
            - E_USERNAME_TAKEN
            - E_USER_NOT_FOUND
            - E_VERSION_EXISTS
        docs_url:
          type: string
        error:
          type: string
        fix:
          type: string
      required:
        - code
        - docs_url
        - error
        - fix
    VersionListResponse:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        versions:
          type: array
          items:
            type: string
      required:
        - name
        - version
        - versions
    VersionMetadata:
      type: object
      properties:
        asset_counts:
          $ref: "#/components/schemas/AssetCounts"
        content_hash:
          type: string
        content_integrity:
          type: string
        manifest_json:
          type: string
        name:
          type: string
        published_at:
          type: string
        publisher:
          type: string
        size_bytes:
          type: number
        version:
          type: string
        author:
          type: string
        description:
          type: string
      required:
        - asset_counts
        - content_hash
        - content_integrity
        - manifest_json
        - name
        - published_at
        - publisher
        - size_bytes
        - version
    ContentsResponse:
      type: object
      properties:
        content_integrity:
          type: string
        name:
          type: string
        resources:
          type: object
          additionalProperties:
            type: string
        version:
          type: string
      required:
        - content_integrity
        - name
        - resources
        - version
    OwnerRef:
      type: object
      properties:
        kind:
          const: user
        username:
          type: string
      required:
        - kind
        - username
    ScopeRootResponse:
      type: object
      properties:
        created_at:
          type: string
        facets:
          type: array
          items:
            $ref: "#/components/schemas/FacetSummary"
        name:
          type: string
        owner:
          $ref: "#/components/schemas/OwnerRef"
      required:
        - created_at
        - facets
        - name
        - owner
    PublishResponse:
      type: object
      properties:
        content_hash:
          type: string
        name:
          type: string
        version:
          type: string
      required:
        - content_hash
        - name
        - version
    QueuedForReviewBody:
      type: object
      properties:
        docs_url:
          type: string
        fix:
          type: string
        reason:
          enum:
            - pending
            - rate-limit
            - reserved
        status:
          const: QUEUED_FOR_REVIEW
      required:
        - docs_url
        - fix
        - reason
        - status
    AuthMeResponse:
      type: object
      properties:
        email:
          type: string
        suspended:
          type: boolean
        tier:
          enum:
            - admin
            - enterprise
            - free
            - pro
        user_uuid:
          type: string
        username:
          type: string
      required:
        - email
        - suspended
        - tier
        - user_uuid
        - username
    MintTokenResponse:
      type: object
      properties:
        expires_at:
          type: string
        plaintext_token:
          type: string
        prefix:
          type: string
        scopes:
          type: array
          items:
            type: string
      required:
        - expires_at
        - plaintext_token
        - prefix
        - scopes
    ListTokensResponse:
      type: object
      properties:
        tokens:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              expires_at:
                type: string
              name:
                type: string
              prefix:
                type: string
              scopes:
                type: array
                items:
                  type: string
              last_used_at:
                type: string
              revoked_at:
                type: string
            required:
              - created_at
              - expires_at
              - name
              - prefix
              - scopes
      required:
        - tokens
    MigrationListResponse:
      type: object
      properties:
        migrations:
          type: array
          items:
            type: object
            properties:
              available:
                type: boolean
              description:
                type: string
              id:
                type: string
              kind:
                enum:
                  - once
                  - rerunnable
              latest_run:
                type: object
                properties:
                  actor_username:
                    type: string
                  created:
                    type: number
                  deleted:
                    type: number
                  dry_run:
                    type: boolean
                  expected:
                    type: number
                  failed:
                    type: number
                  migration_id:
                    type: string
                  repaired:
                    type: number
                  run_id:
                    type: string
                  scanned:
                    type: number
                  skipped:
                    type: number
                  started_at:
                    type: string
                  status:
                    enum:
                      - failed
                      - running
                      - succeeded
                  error:
                    type: string
                  finished_at:
                    type: string
                required:
                  - actor_username
                  - created
                  - deleted
                  - dry_run
                  - expected
                  - failed
                  - migration_id
                  - repaired
                  - run_id
                  - scanned
                  - skipped
                  - started_at
                  - status
              unmet_dependencies:
                type: array
                items:
                  type: string
            required:
              - available
              - description
              - id
              - kind
      required:
        - migrations
    MigrationRunListResponse:
      type: object
      properties:
        runs:
          type: array
          items:
            type: object
            properties:
              actor_username:
                type: string
              created:
                type: number
              deleted:
                type: number
              dry_run:
                type: boolean
              expected:
                type: number
              failed:
                type: number
              migration_id:
                type: string
              repaired:
                type: number
              run_id:
                type: string
              scanned:
                type: number
              skipped:
                type: number
              started_at:
                type: string
              status:
                enum:
                  - failed
                  - running
                  - succeeded
              error:
                type: string
              finished_at:
                type: string
            required:
              - actor_username
              - created
              - deleted
              - dry_run
              - expected
              - failed
              - migration_id
              - repaired
              - run_id
              - scanned
              - skipped
              - started_at
              - status
      required:
        - runs
    MigrationRunResponse:
      type: object
      properties:
        actor_username:
          type: string
        created:
          type: number
        deleted:
          type: number
        dry_run:
          type: boolean
        expected:
          type: number
        failed:
          type: number
        failures:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
              row_key:
                type: string
            required:
              - reason
              - row_key
        migration_id:
          type: string
        repaired:
          type: number
        run_id:
          type: string
        scanned:
          type: number
        skipped:
          type: number
        started_at:
          type: string
        status:
          enum:
            - failed
            - running
            - succeeded
        error:
          type: string
        finished_at:
          type: string
      required:
        - actor_username
        - created
        - deleted
        - dry_run
        - expected
        - failed
        - failures
        - migration_id
        - repaired
        - run_id
        - scanned
        - skipped
        - started_at
        - status
    ReservationListResponse:
      type: object
      properties:
        reservations:
          type: array
          items:
            type: object
            properties:
              added_at:
                type: string
              added_by_user_id:
                type: string
              name:
                type: string
              pool:
                enum:
                  - global
                  - scope
              reason:
                type: string
            required:
              - added_at
              - added_by_user_id
              - name
              - pool
      required:
        - reservations
    AdminQueueListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              id:
                type: string
              queue_type:
                const: global-facet
              reason:
                enum:
                  - pending
                  - rate-limit
                  - reserved
              status:
                enum:
                  - approved
                  - pending
                  - rejected
                  - superseded
                  - withdrawn
              target:
                type: string
              tier:
                enum:
                  - enterprise
                  - free
                  - pro
              user_uuid:
                type: string
              username:
                type: string
              decided_at:
                type: string
              decided_by:
                type: string
              decision_reason:
                type: string
              justification:
                type: string
            required:
              - created_at
              - id
              - queue_type
              - reason
              - status
              - target
              - tier
              - user_uuid
              - username
      required:
        - items
    ReviewQueueListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              created_at:
                type: string
              id:
                type: string
              queue_type:
                const: global-facet
              reason:
                enum:
                  - pending
                  - rate-limit
                  - reserved
              status:
                enum:
                  - approved
                  - pending
                  - rejected
                  - superseded
                  - withdrawn
              target:
                type: string
              decided_at:
                type: string
              decided_by:
                type: string
              decision_reason:
                type: string
              justification:
                type: string
            required:
              - created_at
              - id
              - queue_type
              - reason
              - status
              - target
      required:
        - items
paths:
  /v0/health:
    get:
      operationId: getV0Health
      summary: Liveness probe
      tags:
        - health
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /v0/facets:
    get:
      operationId: getV0Facets
      summary: List or search facets
      description: Returns up to 200 published facets (FACET META rows). V0 ships
        without server-side `?q=` filtering — clients filter client-side.
        Pagination lands in alpha.
      tags:
        - facets
      responses:
        "200":
          description: List of facet summaries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
  /v0/facets/{scope}/{name}/latest-version:
    get:
      operationId: getV0FacetsByScopeByNameLatestVersion
      summary: Get the latest version pointer for a scoped facet
      description: Returns the current latest version string for a scoped facet.
        Short-cached.
      tags:
        - facets
      parameters:
        - &a1
          name: scope
          in: path
          required: true
          description: Scope name with the leading `@` (e.g. `@julian`).
          schema:
            type: string
            pattern: ^@[a-z][a-z0-9-]*[a-z0-9]$
        - &a2
          name: name
          in: path
          required: true
          description: Facet name within the scope (e.g. `cowsay`).
          schema:
            type: string
            pattern: ^[a-z][a-z0-9-]*[a-z0-9]$
      responses:
        "200":
          description: Latest version pointer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestVersionResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/versions/{version}:
    get:
      operationId: getV0FacetsByScopeByNameVersionsByVersion
      summary: Get the full version list for a scoped facet
      description: Returns the complete sorted version list for a scoped facet.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - &a3
          name: version
          in: path
          required: true
          description: Semver version (e.g., `1.2.3`) or the literal `latest`.
          schema:
            type: string
      responses:
        "200":
          description: Full version list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionListResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/{version}:
    get:
      operationId: getV0FacetsByScopeByNameByVersion
      summary: Get metadata for a specific version of a scoped facet
      description: Returns the version metadata for a scoped facet. The version may be
        `latest`.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - *a3
      responses:
        "200":
          description: Version metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionMetadata"
        "304":
          description: Not modified (If-None-Match matched the ETag)
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/{version}/archive:
    get:
      operationId: getV0FacetsByScopeByNameByVersionArchive
      summary: Download a scoped facet version's tarball
      description: 302 redirects to a 5-minute presigned S3 URL.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - *a3
      responses:
        "302":
          description: Redirect to a 5-minute presigned S3 URL
          headers:
            Location:
              schema:
                type: string
                format: uri
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/{version}/contents:
    get:
      operationId: getV0FacetsByScopeByNameByVersionContents
      summary: Get the verified bodies of a scoped facet version's resources
      description: Returns the verified body of each skill, agent, and command in the
        scoped facet version.
      tags:
        - facets
      parameters:
        - *a1
        - *a2
        - *a3
      responses:
        "200":
          description: Verified resource bodies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "304":
          description: Not modified (If-None-Match matched the ETag)
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}:
    get:
      operationId: getV0FacetsByScope
      summary: Get scope-root detail
      description: Returns a live scope by its @-prefixed name, including the
        structured owner identity and summaries of the facets published under
        that scope. Missing scopes return 404; pending organization claims are
        never exposed as live scopes.
      tags:
        - facets
      parameters:
        - *a1
      responses:
        "200":
          description: Scope-root detail with facets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScopeRootResponse"
        "404":
          description: Scope not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "422":
          description: Invalid scope name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/latest-version:
    get:
      operationId: getV0FacetsByNameLatestVersion
      summary: Get the latest version pointer for a facet
      description: Returns the current latest version string for a facet. Short-cached
        (s-maxage=30) so CloudFront absorbs traffic; all downstream reads key
        off the concrete version it returns.
      tags:
        - facets
      parameters:
        - &a4
          name: name
          in: path
          required: true
          description: Canonical facet name. For scoped facets use the literal-slash path
            (`/@scope/name/...`) instead of encoding the slash.
          schema:
            type: string
            pattern: ^[a-z][a-z0-9-]*[a-z0-9]$
      responses:
        "200":
          description: Latest version pointer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestVersionResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/versions/{version}:
    get:
      operationId: getV0FacetsByNameVersionsByVersion
      summary: Get the full version list for a facet
      description: Returns the complete sorted version list. The :version in the path
        is the cache key (expected to be the current latest version). A concrete
        version gets immutable caching + ETag; the literal `latest` resolves
        server-side and is not cached.
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "200":
          description: Full version list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionListResponse"
        "404":
          description: Facet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/{version}:
    get:
      operationId: getV0FacetsByNameByVersion
      summary: Get metadata for a specific version
      description: Returns the version row's metadata including the verbatim
        manifestJson string and the verified publisher username. version may be
        `latest` to resolve through FACET META's `latest_version` attribute.
        Because (name, version) is immutable, a concrete-version response is
        cacheable for a year with a strong ETag derived from the verified
        content fingerprint; conditional If-None-Match requests get a 304.
        `latest` resolves server-side and is not cached.
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "200":
          description: Version metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionMetadata"
        "304":
          description: Not modified (If-None-Match matched the ETag)
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/{version}/archive:
    get:
      operationId: getV0FacetsByNameByVersionArchive
      summary: Download the version's tarball
      description: 302 redirects to a 5-minute presigned S3 URL. Follow the redirect
        to download the gzipped tarball.
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "302":
          description: Redirect to a 5-minute presigned S3 URL
          headers:
            Location:
              schema:
                type: string
                format: uri
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/{version}/contents:
    get:
      operationId: getV0FacetsByNameByVersionContents
      summary: Get the verified bodies of a version's resources
      description: Returns the verified body of each skill, agent, and command in the
        version. Because (name, version) is immutable, a concrete-version
        response is cacheable for a year with a strong ETag derived from the
        verified content fingerprint; conditional If-None-Match requests get a
        304. `latest` resolves server-side and is not cached.
      tags:
        - facets
      parameters:
        - *a4
        - *a3
      responses:
        "200":
          description: Verified resource bodies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "304":
          description: Not modified (If-None-Match matched the ETag)
        "404":
          description: Facet or version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{scope}/{name}/versions:
    post:
      operationId: postV0FacetsByScopeByNameVersions
      summary: Publish a new version of a scoped facet
      description: POST a gzipped tarball with `facet.json` at its root to
        `/@scope/name/versions`. The scope/facet separator MUST be a literal
        slash; `%2F` is rejected with `E_INVALID_NAME`. The caller MUST own the
        scope. The reconstructed `@scope/name` MUST equal the manifest `name`.
        Body is capped at 5 MB.
      tags:
        - facets
      security:
        - BearerAuth: []
      parameters:
        - *a1
        - *a2
      requestBody:
        required: true
        content:
          application/gzip:
            schema:
              type: string
              format: binary
      responses:
        "201": &a5
          description: Version published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishResponse"
        "202": &a6
          description: Queued for admin review (first-publish of a reserved or over-budget
            global facet)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueuedForReviewBody"
        "401": &a7
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403": &a8
          description: Account suspended, name blocked, or caller does not own the
            publishing target
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409": &a9
          description: Duplicate version, or another user has a pending claim for this name
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "413": &a10
          description: Tarball exceeds 5 MB
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "422": &a11
          description: Tarball corrupt, manifest invalid, name grammar bad, or non-semver
            version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "429": &a12
          description: Per-user pending queue cap reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/facets/{name}/versions:
    post:
      operationId: postV0FacetsByNameVersions
      summary: Publish a new version
      description: "POST a gzipped tarball with `facet.json` at its root. The registry
        validates the manifest (name grammar + semver), enforces ownership, then
        stores at a content-addressed S3 key and writes a FACET META + VERSION
        row. URL `name` MUST equal manifest `name`. Duplicate `name@version`
        returns 409 with `code: E_VERSION_EXISTS`. Body is capped at 5 MB."
      tags:
        - facets
      security:
        - BearerAuth: []
      parameters:
        - *a4
      requestBody:
        required: true
        content:
          application/gzip:
            schema:
              type: string
              format: binary
      responses:
        "201": *a5
        "202": *a6
        "401": *a7
        "403": *a8
        "409": *a9
        "413": *a10
        "422": *a11
        "429": *a12
  /v0/auth/logout:
    post:
      operationId: postV0AuthLogout
      summary: Sign out (revoke refresh token)
      description: Revokes the supplied refresh token at Cognito. Authenticated by the
        refresh_token in the request body (not by Authorization header), so the
        call succeeds even after the access token has locally expired. After
        this call, any currently-issued access token remains valid until its
        natural expiry but no new tokens can be obtained without
        re-authenticating. PAT principals (CI tokens) should use `DELETE
        /v0/auth/tokens/:prefix` instead. Suspended users receive 403
        E_ACCOUNT_SUSPENDED.
      tags:
        - auth
      responses:
        "200":
          description: Refresh token revoked
        "401":
          description: Refresh token invalid, expired, or revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended (E_ACCOUNT_SUSPENDED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/auth/me:
    get:
      operationId: getV0AuthMe
      summary: Get the authenticated user's profile
      description: "Returns the authenticated user's PROFILE projection: user_uuid,
        username, email, tier, and a boolean `suspended` derived from
        `suspended_at`. Available to suspended users (so the UI can render the
        suspension banner)."
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Profile projection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthMeResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/auth/tokens:
    post:
      operationId: postV0AuthTokens
      summary: Mint a new personal access token
      description: Returns the plaintext token EXACTLY ONCE in the `plaintext_token`
        field. The registry stores only the HMAC of the secret portion. If you
        lose the plaintext, you must mint a new token. Up to 3 prefix-collision
        retries before returning 500 E_PREFIX_COLLISION_RETRY_EXHAUSTED.
        Requires an interactive (JWT) session — PAT principals receive 403
        E_INTERACTIVE_SESSION_REQUIRED.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "201":
          description: Token minted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MintTokenResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended OR PAT principal (interactive session required)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "500":
          description: Prefix collision retry exhausted (transient)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
    get:
      operationId: getV0AuthTokens
      summary: List the caller's PATs
      description: Lists all (non-deleted) PATs minted by the authenticated user,
        including their revoke/expiry state.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Token list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTokensResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/auth/tokens/{prefix}:
    delete:
      operationId: deleteV0AuthTokensByPrefix
      summary: Revoke a PAT
      description: "Sets the token row's `revoked_at`. Guarded by `user_id = <self>`
        to prevent cross-user revocation. Idempotent: revoking an
        already-revoked token returns 200 (no error). Returns 404 if no such
        prefix exists for this user. Suspended users receive 403
        E_ACCOUNT_SUSPENDED."
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Token revoked (or already was)
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended (E_ACCOUNT_SUSPENDED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          description: No such token for this user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: prefix
          required: true
  /v0/auth/sign-out-everywhere:
    post:
      operationId: postV0AuthSignOutEverywhere
      summary: Sign out from all Cognito sessions
      description: Invalidates all access and refresh tokens for the caller's Cognito
        user. Subsequent requests with those tokens fail with 401. Does NOT
        revoke the caller's PATs — use `GET /v0/auth/tokens` + per-prefix DELETE
        for that. PAT principals receive 400 (PATs don't have Cognito sessions).
        Suspended users receive 403 E_ACCOUNT_SUSPENDED.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: All Cognito sessions invalidated
        "400":
          description: PAT principal (no Cognito session to invalidate)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Account suspended (E_ACCOUNT_SUSPENDED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/onboarding/username:
    post:
      operationId: postV0OnboardingUsername
      summary: Bootstrap a new registry account (claim first username)
      description: For Cognito-authenticated callers who have NOT yet been provisioned
        in the registry. Creates the USERNAME reservation, the PROFILE row, the
        COGNITO_SUB reservation, and the user’s `@<username>` scope atomically.
        Returns 409 E_USERNAME_TAKEN if the username is already claimed, 403
        E_NAME_BLOCKED if the name is reserved or blocked. Usernames are
        immutable once set; this route runs exactly once per Cognito sub.
      tags:
        - auth
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthMeResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: The requested name is reserved or permanently blocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: Username already claimed OR this Cognito user already onboarded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "503":
          description: Verified email could not be obtained from the identity provider;
            retryable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/admin/migrations:
    get:
      operationId: getV0AdminMigrations
      summary: List registered migrations (admin)
      description: Returns every migration in the code registry, each with a summary
        of its most recent run (if any).
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Migration list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationListResponse"
  /v0/admin/migrations/runs:
    get:
      operationId: getV0AdminMigrationsRuns
      summary: List all migration runs across every migration (admin)
      description: Aggregates the run history of every registered migration into one
        newest-first list. Gathered by server-side fan-out over the registry
        (one query per migration).
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: All runs, newest-first
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationRunListResponse"
  /v0/admin/migrations/{id}/runs:
    post:
      operationId: postV0AdminMigrationsByIdRuns
      summary: Trigger a migration run (admin)
      description: Acquires the per-migration single-run lease, then starts the Step
        Functions execution. Pass dry_run=true to scan + count without writing.
        A real run (dry_run=false) requires the most recent run to be a
        succeeded dry run. Returns 404 if the id is unregistered, 409 if a run
        is already in progress or no succeeded dry run precedes a real run.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "202":
          description: Run accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationRunResponse"
        "404":
          description: No such migration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: A run is already in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
    get:
      operationId: getV0AdminMigrationsByIdRuns
      summary: List a migration’s runs (admin)
      description: Returns the run history for one migration, newest first.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Run history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationRunListResponse"
        "404":
          description: No such migration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v0/admin/migrations/{id}/runs/{runId}:
    get:
      operationId: getV0AdminMigrationsByIdRunsByRunId
      summary: Get one migration run (admin)
      description: Returns a single run by run_id, including its per-record failure rows.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Run detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MigrationRunResponse"
        "404":
          description: No such run
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
        - schema:
            type: string
          in: path
          name: runId
          required: true
  /v0/admin/reservation-list:
    get:
      operationId: getV0AdminReservationList
      summary: List all reservation-list entries (admin)
      description: Returns every reservation row across both pools, sorted by name.
        Scope-pool entries ('@'-prefixed) precede global-pool entries because
        '@' < 'a' in ASCII.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Reservation list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationListResponse"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Caller is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
    post:
      operationId: postV0AdminReservationList
      summary: Add a reservation (admin)
      description: Adds a name to one pool ('scope' or 'global') or to every pool at
        once ('all'). The 'all' path uses TransactWriteItems for atomicity.
        Caller passes the BARE component name (without any '@' prefix); the
        registry prepends the prefix for the scope pool key. Returns 422 if the
        bare name fails the registry name grammar, 409 if any targeted pool
        already has the name reserved.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "201":
          description: Reservation added
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Caller is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: Already reserved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "422":
          description: Name fails registry grammar (E_INVALID_NAME)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
    delete:
      operationId: deleteV0AdminReservationList
      summary: Remove a reservation (admin)
      description: Removes one pool entry. Caller passes the BARE component name
        (without any '@' prefix). Does NOT propagate across pools — to remove
        from multiple pools, call this endpoint per pool. Returns 422 if the
        bare name fails the registry name grammar.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Reservation removed
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Caller is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          description: No such reservation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "422":
          description: Name fails registry grammar (E_INVALID_NAME)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/admin/review-queue:
    get:
      operationId: getV0AdminReviewQueue
      summary: List review queue (admin)
      description: Returns QUEUE rows for the requested status bucket. Pending rows
        sort by GSI2SK (tier priority then created_at, oldest higher-tier
        first). Decided rows sort newest-decision first. The 'cancelled' bucket
        coalesces superseded + withdrawn rows; the row's own `status` field
        preserves the distinction. Default bucket is 'pending'. Includes the
        submitting user’s username and tier for display.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Items in the requested bucket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminQueueListResponse"
        "400":
          description: Invalid status query param
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Caller is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/admin/review-queue/{id}:
    post:
      operationId: postV0AdminReviewQueueById
      summary: Approve or reject a pending queue item (admin)
      description: Approval of a global-facet first-publish transitions the QUEUE row
        to 'approved' AND writes the FACET META + VERSION rows atomically. If a
        parallel admin approval already won (the facet now exists), this user's
        queue row gets 'superseded' status instead. Rejection is a simple status
        transition.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Decision applied
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Caller is not an admin
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          description: No such queue item
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: Item is no longer pending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v0/admin/users/{id}/suspension:
    post:
      operationId: postV0AdminUsersByIdSuspension
      summary: Suspend a user
      description: "Authoritative step: UpdateItem on the target user's PROFILE sets
        suspended_at, suspended_reason, and suspended_by_user_id. Best-effort
        cleanup follows sequentially: Cognito AdminUserGlobalSignOut, then
        per-PAT revoke. Failures in the cleanup phase don't roll back the
        suspension — the PROFILE gate is the source of truth."
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User suspended
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Caller is not an admin (or caller is suspended)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          description: Target user does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
    delete:
      operationId: deleteV0AdminUsersByIdSuspension
      summary: Lift a user's suspension
      description: REMOVEs suspended_at, suspended_reason, suspended_by_user_id from
        the PROFILE row. Does NOT restore Cognito sessions or PATs that were
        invalidated by the original suspension — the user signs in again or
        mints new tokens.
      tags:
        - admin
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Suspension lifted
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "403":
          description: Caller is not an admin (or caller is suspended)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          description: Target user does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
  /v0/settings/review-queue:
    get:
      operationId: getV0SettingsReviewQueue
      summary: List the caller's review items
      description: "Returns queue rows belonging to the authenticated caller in the
        requested status bucket (default: pending). Pending rows are ordered by
        SK (queue_type then created_at). Decided buckets (approved, rejected,
        cancelled) sort newest-decision first. The 'cancelled' bucket coalesces
        superseded + withdrawn."
      tags:
        - settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Items in the requested bucket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewQueueListResponse"
        "400":
          description: Invalid status query param
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
  /v0/settings/review-queue/{id}:
    delete:
      operationId: deleteV0SettingsReviewQueueById
      summary: Withdraw a pending review item
      description: Transitions the row to status='withdrawn'. Cross-user attempts
        collapse to 404 (to avoid leaking queue-id existence). Non-pending rows
        (already approved/rejected/superseded) return 409.
      tags:
        - settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Withdrawn
        "401":
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          description: No such queue item for this user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "409":
          description: Item is no longer pending
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
      parameters:
        - schema:
            type: string
          in: path
          name: id
          required: true
